{% extends 'terapeuta_base.html' %}
{% block title %}Mi Agenda{% endblock %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario con Popup</title>
    <link rel="stylesheet" href="{% static 'css/calendar_vista_sem.css' %}">
    <script>
        // Obtén las citas desde el contexto de Django
        const citas = JSON.parse('{{ citas|safe }}');
    </script>
</head>
<body>

    <div class="header">
        <div class="button-container">
            <button id="prev" class="nav-button" onclick="cambiarSemana(-1)">&#10094;</button>
            <button id="today" class="nav-button">Hoy</button>
            <button id="next" class="nav-button" onclick="cambiarSemana(1)">&#10095;</button>
        </div>
        <h2 id="monthYear"></h2>
        <div class="view-options">
            <button id="week-view" class="nav-button">Sem</button>
            <button id="month-view" class="nav-button">Mes</button>
            <button class="nav-button" onclick="window.location.href='{% url 'calendar_vista_sem' %}'">Cambia Vista</button>
        </div>
    </div>

    <table id="calendar">
        <thead>
            <tr>
                <th class="hora">Hora</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sábado</th>
                <th>Domingo</th>
            </tr>
        </thead>
        <tbody id="calendar-body">
            <!-- Las filas de horas se generarán aquí -->
        </tbody>
    </table>
    <div id="monthYear"></div>

    <div class="overlay" id="overlay" onclick="cerrarPopupSem()"></div>
    <!-- Agendar citas -->
    <div class="popup" id="popupSem">
        <span class="close" onclick="cerrarPopupSem()">&times;</span>
        <h2>Agendar Cita<span id="fechaSeleccionada"></span></h2>
        <form id="formAgendarCitaSem" method="POST" action="{% url 'agendar_cita' %}">
            {% csrf_token %}
            <label for="titulo" class="campo" >Título:</label>
            <input type="text" id="titulo" name="titulo" required placeholder="Ingrese el título de la cita">
            <label for="paciente" class="campo">Paciente:</label>
            <select id="paciente" name="paciente" required>
                <option value="" disabled selected hidden>Seleccione el paciente que citará</option>
                {% for paciente in paciente %}
                <option value="{{ paciente.id }}">{{ paciente.first_name }} {{paciente.last_name}}</option> 
                {% endfor %}
            </select>
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha"required>
            <label for="hora">Hora:</label>
            <input type="time" id="hora" name="hora" required readonly>
            <label for="sala" class="campo">Sala:</label>
            <input type="text" id="sala" name="sala" required placeholder="Ingrese la sala de la cita">
            <label for="detalle" class="campo">Detalle:</label>
            <input type="text" id="detalle" name="detalle" required placeholder="Ingrese el detalle de la cita">
            <select id="tipo_cita" name="tipo_cita" required>
                <option value = "" disabled selected hidden>Seleccione el tipo de Cita</option>
                <option value = "Presencial">Presencial</option>
                <option value = "Online">Online</option>
            </select>
            <!-- <label><input type="checkbox" id="tipo_cita" name = "tipo_cita" >Cita Online</label> -->
            <div class="botones">
                <button type="button" id="cancelarBtn">Cancelar</button>
                <button type="submit" id="confirmarBtn">Confirmar</button>
            </div>
        </form>
    </div>

    <!-- Mostrar Citas -->
    <div class="overlay" id="citasSemOverlay" onclick="cerrarCitasPopupSem()"></div>
    <div class="popup" id="citasPopupSem">
        <span class="close" onclick="cerrarCitasPopupSem()">&times;</span>
        <h2>Citas Agendadas</h2>
        <div id="citasContainer">
            <!-- Las citas se llenarán aquí -->
        </div>
    </div>
    
    <!-- Mostrar Citas -->
    <div class="overlay" id="citasSemOverlay" onclick="cerrarCitasPopupSem()"></div>
    <div class="popup" id="citasPopupSem">
        <span class="close" onclick="cerrarCitasPopupSem()">&times;</span>
        <h2>Citas Agendadas</h2>
        <div id="citasContainer">
            <!-- Las citas se llenarán aquí -->
        </div>
    </div>
    <script src="{% static 'js/calendar_vista_sem.js' %}"></script>

</body>
</html>
{% endblock %}