{% extends 'terapeuta_base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/historial_paciente.css' %}" />
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block title %}
  Historial del paciente
{% endblock %}

{% block header %}
  <!-- Botón para volver -->
  <a href="{% url 'paciente_terapeuta' %}" class="back-button"><i class="fas fa-arrow-left"></i></a>
  <div class="contenedor-header">
    <h1>Historial del paciente</h1>
    <button class="desvincular-btn" data-id="{{ paciente.id }}">Desvincular paciente <i class="fas fa-unlink"></i></button>
    <input type="hidden" id="pacienteId" value="{{ paciente.id }}" />
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
  </div>
  <script type="text/javascript">
    function getCookie(name) {
      let cookieValue = null
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';')
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim()
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
            break
          }
        }
      }
      return cookieValue
    }
    const csrftoken = getCookie('csrftoken')
  </script>
{% endblock %}

{% block content %}
<div class="contenedor-principal">
  <div class="contenedor-superior">
    <!-- Primera columna -->
    <div class="nombre-paciente">
      <h2>{{ paciente.first_name }} {{ paciente.last_name }} | {{ paciente.rut }}</h2>
    </div>
    <div class="detalles-paciente">
      <p>Edad: {{ paciente.edad }}</p>
      <p>Patología: {{ paciente.patologia }}</p>
    </div>
    <!-- Segunda columna -->
    <button class="progreso-paciente-btn" onclick="redirigirAGrafico({{ paciente.id }})">
      <div class="progreso-paciente-content">
          <h3>PROGRESO DEL PACIENTE</h3>
          <span class="progreso-icono">
            <i class="fa-solid fa-chart-line"></i>
          </span>
      </div>
    </button>
  </div>
  <div class="contenedor-inferior">
    <div class="info-cita">
      {% if next_cita %}
          <p>Próxima Cita: {{ next_cita.fecha|date:"d/m/y" }} - {{ next_cita.hora_inicio|time:"H:i" }}</p>
      {% else %}
          <p>Próxima Cita: N/A </p>
      {% endif %}
  </div>
  
    <div class="acciones-paciente">
        <button class="btn-observaciones" onclick="window.location.href='{% url 'observaciones_paciente' paciente.id %}'">Observaciones</button>
        <button class="btn-añadir-rutina"><i class="fas fa-plus"></i> Añadir Rutina</button>
    </div>
  </div>
</div>

<div class="modificar-rutina">
  <button id="editarRutinaBtn" class="btn-modificar-rutina" data-rutina-id="{{ rutinas.0.id }}">
    Modificar rutina actual <i class="fas fa-edit"></i>
  </button>
</div>

 <!-- Aquí comienza la sección de rutinas -->
  {% if rutinas %}
    <div class="contenedor-rutinas">
      <ul>
        {% for rutina in rutinas %}
          <li class="rutina-card">
            <div class="rutina-header">
              {% if forloop.first %}
                <h3>Rutina Actual</h3>
              {% elif forloop.counter == 2 %}
                <h3>Rutina Anterior</h3>
              {% else %}
                <h3>{{ rutina.fecha_inicio|date:"d/m/Y" }}</h3>
              {% endif %}
            </div>
            <div class="rutina-contenido">
              <div class="rutina-info">
                <p>Sesiones Realizadas: {{ rutina.sesiones_realizadas }} de {{ rutina.cantidad_sesiones }}</p>
                <p>Frecuencia de Sesiones: 1 cada {{ rutina.frecuencia_cantidad }} {{ rutina.frecuencia_tipo }}</p>
                <p>Fecha de Inicio: {{ rutina.fecha_inicio|date:"d/m/Y" }}</p>
              </div>
              <div class="rutina-detalles">
                <div class="detalle">
                  <p>Ángulo Inicial: {{ rutina.angulo_inicial }}°</p>
                </div>
                <div class="detalle">
                  <p>Ángulo Final: {{ rutina.angulo_final }}°</p>
                </div>
                <div class="detalle">
                  <p>Velocidad: {{ rutina.velocidad }}</p>
                </div>
                <div class="detalle">
                  <p>Repeticiones: {{ rutina.repeticiones }}</p>
                </div>
              </div>
              <div class="rutina-estado">
                <p>Estado: {{ rutina.estado }}</p>
                <button class="btn-ver-sesiones">Ver Sesiones <i class="fas fa-chevron-down"></i></button>
              </div>
            </div>
          </li>
          <!-- Contenedor de las sesiones, dentro del ciclo de rutinas -->
          <div class="contenedor-sesiones" style="display: none;">
            {% for sesion in rutina.ultimas_sesiones %}
              <div class="sesion-card">
                <h4>Sesión {{ forloop.counter }}</h4>
                <p>Fecha: {{ sesion.fecha|date:"d/m/Y" }}</p>
                <p>Duración: {{ sesion.duracion }} minutos</p>
                <p>Estado: {{ sesion.estado }}</p>
                <button class="sesion-grafico-btn" data-id="{{ sesion.id }}" onclick="enviarIdSesion({{ sesion.id }})">Ver gráfico</button>
              </div>
            {% empty %}
              <p>No hay sesiones registradas para esta rutina.</p>
            {% endfor %}
            <!-- Botón adicional para ir a historial_paciente.html -->
            <div class="boton-historial">
              <a href="{% url 'historial_sesiones' paciente.id %}" class="btn-historial">Ver Historial Completo <i class="fas fa-history"></i></a>
            </div>   
          </div>
        {% endfor %}
      </ul>

    </div>
  {% else %}
    <div class="no-rutinas">
      <p>Aún no hay rutinas para este paciente.</p>
    </div>
  {% endif %}

<!-- Modal PopUp para gráfico de las sesiones-->
<div id="popupModal" class="modal" style="display: none;">
  <div class="contenido-modal">
    <span class="close">&times;</span>
    <h2 id="popup-titulo">Gráfico de Corriente vs Tiempo</h2>
    <div id="chart_sesion"></div>
  </div>
</div>


 <!-- Modal Popup para confirmar la desvinculación -->
<div id="desvincularModal" class="modal modal-desvincular">
    <div class="modal-content">
        <span class="close" id="cerrarDesvincular">&times;</span>
        <h2>¿Desea pasar a estado inactivo a este paciente?</h2>
        <div class="modal-body">
            <div class="label-value">
                <span class="label">Nombre:</span>
                <span class="value">{{ paciente.first_name }} {{ paciente.last_name }}</span>
            </div>
            <div class="label-value">
                <span class="label">Rut:</span>
                <span class="value">{{ paciente.rut }}</span>
            </div>
            <div class="label-value">
                <span class="label">Sexo:</span>
                <span class="value">{{ paciente.sexo }}</span>
            </div>
            <div class="label-value">
                <span class="label">Edad:</span>
                <span class="value">{{ paciente.edad }}</span>
            </div>
            <div class="label-value">
                <span class="label">Número de Teléfono:</span>
                <span class="value">{{ paciente.telefono }}</span>
            </div>
            <div class="label-value">
                <span class="label">Correo Electrónico:</span>
                <span class="value">{{ paciente.email }}</span>
            </div>
            <div class="label-value">
                <span class="label">Patología:</span>
                <span class="value">{{ paciente.patologia }}</span>
            </div>
            <div class="label-value">
                <span class="label">Terapeuta a cargo:</span>
                <span class="value">{{ terapeuta.nombre }}</span>
            </div>

            <!-- Campo para ingresar el motivo de la inactivación -->
            <div class="motivo-inactivacion">
                <label for="motivo">Motivo de inactivación:</label>
                <textarea id="motivo" rows="4" placeholder="Ingrese el motivo de inactivación del paciente [máx 1000 caracteres]"></textarea>
            </div>
            <div class="mensaje-terapeuta">
                <p>El paciente podrá ser visualizado en la sección de pacientes inactivos</p>
            </div>
        </div>

        <!-- Botones de confirmación y cancelación -->
        <div class="modal-footer">
            <button class="cancel-btn" id="cancelarDesvinculacion">Cancelar</button>
            <button class="confirm-btn" id="confirmarDesvinculacion">Confirmar</button>
        </div>
    </div>
</div>

<!-- Modal Popup para añadir nueva rutina -->
<div id="nuevaRutinaModal" class="modal modal-nueva-rutina">
    <div class="modal-content">
        <span class="close" id="cerrarNuevaRutina">&times;</span>
        <h2>Nueva Rutina</h2>
        <form id="nuevaRutinaForm">
            {% csrf_token %}
            <label for="fecha_inicio">Fecha de Inicio</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" required>

            <label for="cantidad_sesiones">Cantidad de Sesiones</label>
            <input type="number" id="cantidad_sesiones" name="cantidad_sesiones" required>

            <label for="repeticiones">Repeticiones por Sesión</label>
            <input type="number" id="repeticiones" name="repeticiones" required>

            <label for="frecuencia_sesiones">Frecuencia de Sesiones</label>
            <div class="frecuencia-inputs">
                <input type="number" id="frecuencia_cantidad" name="frecuencia_cantidad" required>
                <p>cada</p>
                <select id="frecuencia_tipo" name="frecuencia_tipo">
                  <p>cada</p>
                    <option value="dias">día</option>
                    <option value="semanas">semana</option>
                </select>
            </div>

            <label for="angulo_inicial">Ángulo Inicial</label>
            <input type="number" id="angulo_inicial" name="angulo_inicial" required>

            <label for="angulo_final">Ángulo Final</label>
            <input type="number" id="angulo_final" name="angulo_final" required>

            <label for="velocidad">Velocidad</label>
            <input type="text" id="velocidad" name="velocidad" required>

            <div class="modal-footer">
                <button type="button" class="cancel-btn" id="cancelarNuevaRutina">Cancelar</button>
                <button type="submit" class="confirm-btn">Confirmar</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal Popup para editar rutina actual -->
<div id="editarRutinaModal" class="modal modal-editar-rutina">
  <div class="modal-content">
      <span class="close" id="cerrarEditarRutina">&times;</span>
      <h2>Editar Rutina</h2>
      <form id="editarRutinaForm">
          {% csrf_token %}
          <label for="edit_fecha_inicio">Fecha de Inicio</label>
          <input type="date" id="edit_fecha_inicio" name="fecha_inicio" required>

          <label for="edit_cantidad_sesiones">Cantidad de Sesiones</label>
          <input type="number" id="edit_cantidad_sesiones" name="cantidad_sesiones" required>

          <label for="edit_repeticiones">Repeticiones por Sesión</label>
          <input type="number" id="edit_repeticiones" name="repeticiones" required>

          <label for="edit_frecuencia_sesiones">Frecuencia de Sesiones</label>
          <div class="frecuencia-inputs">
              <input type="number" id="edit_frecuencia_cantidad" name="frecuencia_cantidad" required>
              <p>cada</p>
              <select id="edit_frecuencia_tipo" name="frecuencia_tipo">
                  <option value="dias">día</option>
                  <option value="semanas">semana</option>
              </select>
          </div>

          <label for="edit_angulo_inicial">Ángulo Inicial</label>
          <input type="number" id="edit_angulo_inicial" name="angulo_inicial" required>

          <label for="edit_angulo_final">Ángulo Final</label>
          <input type="number" id="edit_angulo_final" name="angulo_final" required>

          <label for="edit_velocidad">Velocidad</label>
          <input type="text" id="edit_velocidad" name="velocidad" required>

          <div class="modal-footer">
              <button type="button" class="cancel-btn" id="cancelarEditarRutina">Cancelar</button>
              <button type="submit" class="confirm-btn">Guardar Cambios</button>
          </div>
      </form>
  </div>
</div>

<!-- MENSAJES DESVINVULAR PACIENTE -->
<!-- Modal Popup para mostrar mensaje de éxito desvinculacion -->
<div id="modalExito" class="modal">
  <div class="contenido-modal-mensaje">
      <img src="{% static 'icons/Exito.svg' %}" alt="Éxito">
      <p>Paciente {{paciente.first_name}} {{paciente.last_name}} desvinculado con exito</p>
  </div>
</div>

<!-- Modal Popup para mostrar mensaje de rellene motivo de desvinculacion -->
<div id="modalError" class="modal">
  <div class="contenido-modal-mensaje">
      <img src="{% static 'icons/Alert.svg' %}" alt="Éxito">
      <p>Ingrese un motivo para la desvinculacion</p>
  </div>
</div>

<!-- MENSAJES RUTINAS PACIENTE -->
<!-- Modal Popup para mostrar mensaje de éxito -->
<div id="modalExitoRutina" class="modal">
  <div class="contenido-modal-mensaje">
      <img src="{% static 'icons/Exito.svg' %}" alt="Éxito">
      <p>Rutina de {{paciente.first_name}} {{paciente.last_name}} Creada con exito</p>
  </div>
</div>

<!-- Modal Popup para mostrar mensaje de no hay rutina creada para editar -->
<div id="modalErrorEditRutina" class="modal">
  <div class="contenido-modal-mensaje">
      <img src="{% static 'icons/Alert.svg' %}" alt="Éxito">
      <p>El paciente {{paciente.first_name}} {{paciente.last_name}} no tiene rutinas creadas</p>
  </div>
</div>

<!-- Modal Popup para mostrar mensaje de éxito al editar rutina -->
<div id="modalExitoRutinaEditada" class="modal">
  <div class="contenido-modal-mensaje">
      <img src="{% static 'icons/Exito.svg' %}" alt="Éxito">
      <p>Rutina de {{paciente.first_name}} {{paciente.last_name}} actualizada con exito</p>
  </div>
</div>

<!-- Modal de Carga -->
<div id="modalCarga" class="modal" style="display: none;">
  <div class="contenido-modal-mensaje">
    <div class="spinner"></div>
    <p>Guardando rutina, por favor espera...</p>
  </div>
</div>


{% endblock %}

{% block extra_js %}
<!--                    Apache Echarts                  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.1.0/echarts.min.js"></script>
<script src="{% static 'js/historial_paciente.js' %}"></script>
<script srt="{% static 'js/grafico_sesion.js' %}"></script>
<script type="text/javascript">
    function redirigirAGrafico(paciente_id) {
        const url = `/grafico_progreso_paciente/${paciente_id}/`;
        window.location.href = url;
    }
  document.addEventListener("DOMContentLoaded", function() {
    // Obtener todos los botones con la clase "btn-ver-sesiones"
    const botones = document.querySelectorAll('.btn-ver-sesiones');
  
    botones.forEach(function(boton) {
      boton.addEventListener('click', function() {
        // Encontrar el contenedor de sesiones correspondiente
        const contenedorSesiones = document.querySelector('.contenedor-sesiones');
  
        // Mostrar u ocultar el contenedor de sesiones
        if (contenedorSesiones.style.display === 'none' || contenedorSesiones.style.display === '') {
          contenedorSesiones.style.display = 'block';
        } else {
          contenedorSesiones.style.display = 'none';
        }
  
        // Cambiar el icono de la flecha hacia arriba o hacia abajo
        const icono = this.querySelector('i');
        if (contenedorSesiones.style.display === 'block') {
          icono.classList.remove('fa-chevron-down');
          icono.classList.add('fa-chevron-up');
        } else {
          icono.classList.remove('fa-chevron-up');
          icono.classList.add('fa-chevron-down');
        }
      });
    });
  });
  
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const sesionGraficoBtns = document.querySelectorAll('#sesion-grafico');
    const popupModal = document.getElementById('popupModal');

    sesionGraficoBtns.forEach(function(btn) {
      btn.addEventListener('click', function() {
        popupModal.style.display = 'block';
      });
    });

    // Close the modal when the user clicks on <span> (x)
    const closeBtn = document.querySelector('#popupModal .close');
    closeBtn.addEventListener('click', function() {
      popupModal.style.display = 'none';
    });

    // Close the modal when the user clicks anywhere outside of the modal
    window.addEventListener('click', function(event) {
      if (event.target == popupModal) {
        popupModal.style.display = 'none';
      }
    });
  });
</script>

<script>
  let chartSesion;

  // Función para obtener el gráfico de una sesión específica
  const getOptionChartSesion = async(sesionId) => {
      try {
          const response = await fetch(`/obtener_grafico_sesion_paciente/${sesionId}/`);
          return await response.json();
      } catch (ex) {
          alert("Error al obtener los datos del gráfico: " + ex);
      }
  };
  
  // Función para inicializar el gráfico de la sesión en el modal
  const initChartSesion = async(sesionId) => {
      const chartData = await getOptionChartSesion(sesionId);
      if (!chartData) return;
  
      // Inicializar el gráfico solo si hay datos válidos
      const chartContainer = document.getElementById("chart_sesion");
      if (!chartSesion) {
          chartSesion = echarts.init(chartContainer);
      }
      chartSesion.setOption(chartData.chart);
      chartSesion.resize();
  };
  
  // Función para mostrar el modal y cargar el gráfico
  const enviarIdSesion = async(sesionId) => {
      const modal = document.getElementById("popupModal");
      modal.style.display = "block";  // Mostrar el modal
  
      // Inicializar el gráfico
      await initChartSesion(sesionId);
  };
  
  // Cerrar el modal cuando el usuario haga clic en "x"
  document.querySelector(".close").onclick = () => {
      document.getElementById("popupModal").style.display = "none";
  };
  
  // Cerrar el modal cuando el usuario haga clic fuera de él
  window.onclick = (event) => {
      const modal = document.getElementById("popupModal");
      if (event.target == modal) {
          modal.style.display = "none";
      }
  };
  
  // Redimensionar el gráfico cuando la ventana cambie de tamaño
  window.addEventListener('resize', () => {
      if (chartSesion) chartSesion.resize();
  });
  
  
</script>
{% endblock %}
