{% extends 'terapeuta_base.html' %}
{% load static %}

{% block extra_head %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/paciente_terapeuta.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabla.css' %}">
{% endblock %}

{% block title %}Pacientes{% endblock %}

{% block header %}
    <div class="contenedor-header">
        <h1>Pacientes</h1>
        <form method="GET" action="{% url 'paciente_terapeuta' %}" class="search-container">
            <input type="text" name="search" placeholder="Búsqueda por Nombre, Rut o Tratamiento" class="search-bar" id="searchBar" value="{{ request.GET.search|default:'' }}" oninput="toggleClearButton()">
            <img src="{% static 'icons/Lupa.svg' %}" alt="Buscar" class="search-icon">
            
            <button type="button" id="clearButton" class="clear-button" onclick="clearSearch()" style="display: {% if request.GET.search %}inline-block{% else %}none{% endif %};">
                Limpiar Filtro
            </button>
        </form>
    </div>
{% endblock %}


{% block content %}
<div class="table-responsive">
    <!-- Tabla de pacientes -->
    <table class="table align-middle">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Edad</th>
                <th>Tratamiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if pacientes %}
                {% for paciente in pacientes %}
                    <tr class="paciente">
                        <td class="inicio-tabla">{{ paciente.first_name }} {{ paciente.last_name }}</td>
                        <td class="centro-tabla">{{ paciente.rut }}</td>
                        <td class="centro-tabla">{{ paciente.edad }} años</td>
                        <td class="centro-tabla">{{ paciente.patologia }}</td>
                        <td class="final-tabla">
                            <a href="{% url 'historial_paciente' paciente.id %}" class="report-button">
                                <img src="{% static 'icons/Tabla de reportes.svg' %}" alt="Tabla de reportes" class="report-icon">
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No hay pacientes ingresados.</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="no-results">No se encontraron pacientes que coincidan con la búsqueda.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

    <!-- Paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if pacientes.has_previous %}
                <a href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Primera Página">
                    &#171;
                </a>
                <a href="?page={{ pacientes.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Página Anterior">
                    &#8249;
                </a>
            {% else %}
                <span class="disabled">&#171;</span>
                <span class="disabled">&#8249;</span>
            {% endif %}
    
            <span class="current">
                {{ pacientes.number }}
            </span>
    
            {% if pacientes.has_next %}
                <a href="?page={{ pacientes.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Página Siguiente">
                    &#8250;
                </a>
                <a href="?page={{ pacientes.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Última Página">
                    &#187;
                </a>
            {% else %}
                <span class="disabled">&#8250;</span>
                <span class="disabled">&#187;</span>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/buscar_paciente.js' %}"></script>
{% endblock %}
