.main-content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
}

.contenedor-header h1 {
    font-size: 48px;
    color: black;
    font-weight: 500;
}

/* Formulario de búsqueda */
.busqueda-form {
    display: flex;
    align-items: center;
}

.busqueda-input {
    width: 100%;
    position: relative;
}

/* Ajustar el tamaño y color de la barra de búsqueda */
.busqueda-input input[type="text"] {
    width: 400px;
    height: 35px;
    border: 2px solid #d9d9d9;
    border-radius: 0px;
    padding: 5px 10px;
    outline: none;
    color: black;
    background-color: #f9f9f9;
    font-size: 16px;
}

#boton-agregar-paciente {
    background-color: #001058;
    color: #fff;
    border: none;
    padding: 3px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-wrap: nowrap;
}

#boton-agregar-paciente img {
    width: 34px;
    height: 34px;
}

#boton-agregar-paciente:hover {
    background-color: #002080; /* Un color ligeramente más claro para el hover */
}

.contenedor-superior{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}

/* Botón de filtro */
.filtro-btn {
    background-color: #001058;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Estilo para los filtros de Activos/Inactivos */
.filtros {
    display: flex;
    gap: 10px;
}

.filtros a{
    text-decoration: none;
    font-weight: 400;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 5px;
    background-color: rgba(55, 61, 88, 0.5);
}

.filtros .btn-active {
    background-color: #001058;
}

.filtros .btn-inactive {
    background-color: rgba(55, 61, 88, 0.5);
}

.filtros .btn-active:hover {
    background-color: #002080;
}

.filtros a:hover {
    background-color: rgba(55, 61, 88, 0.7);
}

#inactivar-btn:enabled, #restaurar-btn:enabled {
    background-color: #001058;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

#inactivar-btn:enabled:hover, #restaurar-btn:enabled:hover {
    background-color: #002080;
}

#inactivar-btn:disabled, #restaurar-btn:disabled {
    background-color: #cccccc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: not-allowed;
    display: flex;
    align-items: center;
    gap: 5px;
}
/* Botones de acciones en la tabla */
.table .btn {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.table .btn-outline-primary {
    color: #373d58;
    border: 1px solid #373d58;
}

.table .btn-outline-secondary {
    color: #6c757d;
    border: 1px solid #6c757d;
}

/* Mensaje para cuando no hay pacientes */
.table-empty {
    text-align: center;
    padding: 20px;
    color: #999;
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fijado en la pantalla */
    z-index: 1; /* Asegúrate de que esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100%; /* Ocupa todo el alto de la pantalla */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centrado vertical */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo */
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    cursor: pointer;
}