body {
  background-color: #e0e0e0;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contenedor-central {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #ccc;
}

p {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: justify;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.input-email {
  margin-bottom: 1.5rem;
  position: relative;
}

input[type="email"] {
  width: calc(100% - 20px);
  padding: 0.8rem;
  padding-left: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  box-sizing: border-box;
}

input[type="email"]::placeholder {
  color: #888;
}

.btn {
  background-color: #008cab;
  color: #ffffff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #007bb5;
}

.logo-top-left {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 12.375em;
  height: 10.75em;
  filter: invert(1) brightness(0);
}

.logo-top-right {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 12em;
  height: 8em;
  filter: invert(1) brightness(0);
}
.mensaje-exito,
.mensaje-error {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: #ffffff;
}

.mensaje-exito {
  background-color: #4caf50;
}

.mensaje-error {
  background-color: #f44336;
}
