body {
  background-color: #e0e0e0;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contenedor-central {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #ccc;
}

.inputs-contenedor {
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.input-password {
  margin-bottom: 1.5rem;
  position: relative;
}

input[type="password"] {
  width: calc(100% - 20px);
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  box-sizing: border-box;
}

input[type="password"]::placeholder {
  color: #888;
}

.error-messages {
  display: none;
  color: #f44336;
  margin-top: 1em;
  font-size: 0.9em;
}

.help-text {
  margin-top: 1em;
  font-size: 0.9em;
  color: #666;
}

.logo-top-left {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 12.375em;
  height: 10.75em;
  filter: invert(1) brightness(0); /* Cambia el color del SVG a negro */
}

.logo-top-right {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 12em;
  height: 8em;
  filter: invert(1) brightness(0); /* Cambia el color del SVG a negro */
}

.btn {
  background-color: #008cab;
  color: #ffffff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%;
}

.btn:hover {
  background-color: #007bb5;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
  }

  .contenedor-central {
    padding: 1.5rem;
    width: 90%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .btn {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }

  .error-messages {
    font-size: 0.8em;
  }
}
