body {
  background-color: #e0e0e0;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contenedor-central {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

p {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: justify;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.logo-top-left {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 12.375em;
  height: 10.75em;
  filter: invert(1) brightness(0);
}

.logo-top-right {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 12em;
  height: 8em;
  filter: invert(1) brightness(0);
}
.imagen-central {
  width: 130px;
  height: 130px;
}

.btn {
  background-color: #008cab;
  color: #ffffff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%;
}

.btn:hover {
  background-color: #007bb5;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
  }

  .contenedor-central {
    padding: 1.5rem;
    width: 90%;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
}
