.contenedor-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}

.contenedor-header h1 {
    font-size: 48px;
    color: black;
    font-weight: 500;
}

/* Formulario de búsqueda */
.busqueda-form {
    display: flex;
    align-items: center;
}

.busqueda-input {
    width: 100%;
    position: relative;
}

/* Ajustar el tamaño y color de la barra de búsqueda */
.busqueda-input input[type="text"] {
    width: 380px;
    height: 35px;
    border: 2px solid #d9d9d9;
    border-radius: 0px;
    padding: 5px 10px;
    outline: none;
    color: black;
    background-color: #f9f9f9;
    font-size: 16px;
}
.clear-button {
    display: flex;
    background-color: #f5554a;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    height: auto;
}

.clear-button:hover {
    background-color: #d32f2f;
}


.contenedor-boton {
    display: flex;
    margin-bottom: 20px;
    right: 20px;
}

#boton-agregar-recepcionista {
    background-color: #001058;
    color: #fff;
    border: none;
    padding: 3px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton-agregar-recepcionista img {
    width: 34px;
    height: 34px;
}

#boton-agregar-recepcionista:hover {
    background-color: #002080; /* Un color ligeramente más claro para el hover */
}