.header {
    display: flex;
    width: 50%;
    flex-flow: column nowrap;
    align-items: flex-start; 
}

h1{
    font-weight: normal;
    font-size: 3rem;
}

h2{
    font-weight: normal;
    width: 18.75rem;
    padding-bottom: 1.25rem;
    border-bottom: 0.125rem solid #000;
    align-self: center;
    text-align: center;
}

.container-paciente {
    width: 80%; /* Cambia a un tamaño más pequeño, por ejemplo, 80% */
    min-width: 1000px; /* Opcional: establece un ancho máximo */
    padding: 0.8rem;
    margin: 0.3125rem auto; /* Margen automático en los lados para centrar */
    box-sizing: border-box;
    background-color: #001058;
    border-radius: 0.4rem; /* Descomenta si quieres bordes redondeados */
}


.card-paciente {
    display: flex;
    justify-content: center; /* Centra el contenido si es necesario */
    color: white;
    display: flex;
    width: 100%;
}

.columna {
    width: 50%; /* Cada columna toma la mitad del ancho */
    padding: 10px;
}

.columna p {
    margin-bottom: 30px; /* Espacio entre los elementos */
    padding: 5px; /* Espaciado interno del texto en cada párrafo */
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    
}

p strong{
    font-weight: normal;
}

p span{
    font-weight: normal;
}

strong {
    display: inline-block;
    margin-bottom: 10px; /* Agrega un espacio entre el nombre del elemento y el resultado */
}

.izquierda {
    text-align: left; /* Alineación a la izquierda, si es necesario */
}

.derecha {
    text-align: left; /* Alineación a la derecha */
}

.btn {
    background-color: white;
    color: #001058;
    padding: 10px 20px; /* Espaciado interno (vertical y horizontal) */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor a un puntero */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.btn:hover {
    background-color: rgb(36, 0, 179); /* Color de fondo al pasar el mouse */
}

.terapeuta-info {
    margin-right: 10px; /* Espacio entre el texto y el botón */
    display: flex; /* Activa flexbox para el párrafo */
    align-items: center; /* Alinea verticalmente los elementos al centro */
}