/* Contenedores y elementos generales */
.calendar-container {
    background-color: white;
    border-radius: 5px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin: 20px auto 0;
    text-align: center;
}

.button-container,
.view-options {
    display: flex;
    justify-content: center;
    width: auto;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button,
.confirm-btn,
.cancel-btn,
button {
    background-color: #008CAB;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
    transition: background-color 0.3s ease;
}

.nav-button:hover,
.confirm-btn:hover,
.cancel-btn:hover,
button:hover {
    background-color: #399fb6;
}

/* Vista mensual */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.day, 
.day-name, 
.empty-day {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.day:hover,
.week-view td:hover {
    background-color: #82b2bd;
    border-color: #399fb6;
}

.weekend {
    color: red;
}

.today {
    background-color: #008CAB;
    color: white;
}

.dia-con-cita::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 4px;
    height: 4px;
    background-color: #008CAB;
    border: 2px solid #008CAB;
    border-radius: 50%;
}

/* Vista semanal */
.week-view-container {
    height: 450px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.week-view {
    width: 100%;
    border-collapse: collapse;
}

.week-view th, .week-view td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.week-view th {
    background-color: #008CAB;
    color: white;
}

.time-slot {
    background-color: #f7f7f7;
    font-weight: bold;
    width: 80px;
}

/* Estilos para popups y modales */
.popup, 
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.popup-content, 
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    max-width: 600px;
    /* Aseguramos que ambos modales tengan el mismo tamaño */
    min-width: 300px;
    max-height: 80%;
    overflow-y: auto;
}

.popup-content h2,
.modal-content h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.cita-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    text-align: center;
}

/* Botones del modal */
.modal-footer {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

#cancelarBtn, 
.cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    background-color: #FF6161;
}

#confirmarBtn, 
.confirm-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    background-color: #006A60;
}

.popup-content h2 {
    text-align: center;
    margin: 20px;
    font-size: 24px;
}


#nuevaCita input[type="text"], 
#nuevaCita input[type="date"], 
#nuevaCita input[type="time"], 
#nuevaCita select, 
#nuevaCita textarea {
    background-color: #ebeaea;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}


#nuevaCita form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px auto;
    width: 95%;

}

/* Responsive */
@media (min-width: 768px) and (max-width: 1023px) {
    .popup-content {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .popup-content {
        width: 90%;
    }

    .botones {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
