.back-button {
    color: #000;
    font-size: 30px;
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-top: -50px;
}

.back-button:hover {
    color: #008CAB;
    transition: color 0.3s ease;
}

.contenedor-header h1 {
    display: flex;
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    vertical-align: middle;
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.desvincular-btn {
    background-color: #FF7070;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.desvincular-btn:hover {
    background-color: #FF5C5C;
}

/* -------------------CONTENEDOR PRINCIPAL------------------- */
.contenedor-principal {
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 199, 199);
    border-top-right-radius: 50px;
    padding: 25px;
    margin: 0 auto;
}

/* Contenedor superior que incluye información y progreso */
.contenedor-principal {
    width: 95%;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 50px;
    padding: 25px;
    margin: 0 auto;
}

/* Contenedor superior que incluye información y progreso */
.contenedor-superior {
    display: grid;
    grid-template-columns: 1fr auto; /* Dos columnas */
    grid-template-rows: auto auto;
    grid-template-areas:
        "nombre progreso"
        "detalles progreso";
    gap: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}

/* Información del paciente */
.nombre-paciente {
    grid-area: nombre;
}

.nombre-paciente h2 {
    font-size: 35px;
    font-weight: 400;
    margin: 0;
}

.detalles-paciente {
    grid-area: detalles;
    display: flex;
    gap: 50px;
    font-size: 25px;
    font-weight: 400;
    margin-top: 15px;
}

/* Botón de progreso del paciente */
.progreso-paciente-btn {
    grid-area: progreso;
    align-self: center;
    display: flex;
    background-color: #ffffff;
    border: none;
    color: inherit;
    padding: 40px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    min-width: 200px;
}

.progreso-paciente-btn:hover {
    background-color: #8bbeca;
}

.progreso-paciente-content {
    align-items: center;
    justify-content: space-between;
    width: 280px;
}

.progreso-paciente-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.progreso-icono i {
    font-size: 50px;
    color: #000000;
}

/* Contenedor inferior */
.contenedor-inferior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.info-cita {
    font-size: 28px;
    font-weight: 400;
    color: #000000;
}

.info-cita i {
    color: #008CAB;
}

/* Botones */
.btn-observaciones,
.btn-añadir-rutina {
    margin-top: 10px;
    margin-right: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    width: 164px;
    gap: 10px;
}

.btn-observaciones:hover,
.btn-añadir-rutina:hover {
    background-color: #008CAB;
    color: #ffffff;
}

/* -------- Boton Modificar Rutina --------------- */

.modificar-rutina {
    display: flex;
    flex-direction: row-reverse;
    margin: 15px 30px;
    gap: 10px;
}

.btn-modificar-rutina {
    background-color: #008CAB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* -------------------CONTENEDOR RUTINAS------------------- */
.contenedor-rutinas {
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.rutina-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    list-style: none;
    margin-bottom: 20px;
}

.rutina-card:hover {
    transform: translateY(-5px);
}

.rutina-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.rutina-header h3 {
    font-size: 22px;
    font-weight: 600;
    color: #008cab;
}

.rutina-header p {
    font-size: 16px;
    color: #666;
}

.rutina-contenido {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 20px;
}

.rutina-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 15px;
    color: #333;
}

.rutina-info p {
    margin: 0;
}

.rutina-detalles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.detalle {
    width: 100%;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rutina-estado {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
    margin-right: 20px;
}

.rutina-estado p {
    width: 80%;
    font-size: 16px;
    color: #666;
    font-weight: 500;
}

.btn-ver-sesiones {
    width: 80%;
    background-color: #008cab;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-ver-sesiones:hover {
    background-color: #005f6b;
}

.no-sesiones p {
    font-size: 20px;
    font-weight: 500;
    color: #666;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    min-width: 500px;
    max-height: 80%;
    overflow-y: auto;
}

.modal-content h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 17px;
    justify-content: space-between;
    width: 80%;
}

.label-value {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
}

.label,
.value {
    text-align: left;
}

.motivo-inactivacion {
    margin-top: 10px;
}

.motivo-inactivacion textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.mensaje-terapeuta {
    display: flex;
    text-align: center;
    font-weight: 500;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 100px;
}

/* Botones generales para todos los modals */
.confirm-btn,
.cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.confirm-btn {
    background-color: #006A60;
    color: white;
}

.cancel-btn {
    background-color: #FF6161;
    color: white;
}

.confirm-btn:hover,
.cancel-btn:hover {
    opacity: 0.9;
}

/* Estilos específicos para el formulario Nueva Rutina */
#nuevaRutinaModal {
    display: none;  
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
}

/* Estilos para el contenido del modal */
#nuevaRutinaModal .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Puedes ajustar el ancho según tus necesidades */
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}

/* Estilos para el botón de cerrar */
#nuevaRutinaModal .close {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 15px; /* Ajusta la distancia desde la parte derecha */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#nuevaRutinaModal .close:hover,
#nuevaRutinaModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el formulario dentro del modal */
#nuevaRutinaModal form {
    display: flex;
    flex-direction: column;
}

#nuevaRutinaModal label {
    margin-top: 15px;
    font-weight: bold;
}

#nuevaRutinaModal input[type="date"],
#nuevaRutinaModal input[type="number"],
#nuevaRutinaModal input[type="text"],
#nuevaRutinaModal select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#nuevaRutinaModal .frecuencia-inputs {
    display: flex;
    align-items: center;
}

#nuevaRutinaModal .frecuencia-inputs input,
#nuevaRutinaModal .frecuencia-inputs select {
    flex: 1;
}

#nuevaRutinaModal .frecuencia-inputs p {
    margin: 0 10px;
}

#nuevaRutinaModal .modal-footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#nuevaRutinaModal .cancel-btn,
#nuevaRutinaModal .confirm-btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#nuevaRutinaModal .cancel-btn {
    background-color: #FF7070;
}

#nuevaRutinaModal .confirm-btn {
    background-color: #006A60;
    color: white;
}

#nuevaRutinaModal .cancel-btn:hover,
#nuevaRutinaModal .confirm-btn:hover {
    opacity: 0.8;
}



/* Estilos específicos para el modal de Confirmar Desvinculación */
#desvincularModal {
    display: none;  
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0,0,0,0.4); 
}

/* Estilos para el contenido del modal */
#desvincularModal .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 500px; 
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}

/* Estilos para el botón de cerrar */
#desvincularModal .close {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 15px; /* Ajusta la distancia desde la parte derecha */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#desvincularModal .close:hover,
#desvincularModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el cuerpo del modal */
#desvincularModal .modal-body {
    margin-top: 20px;
}

/* Estilos para las etiquetas y valores */
#desvincularModal .label-value {
    width: 500px;
    display: flex;
    margin-bottom: 10px;
}

#desvincularModal .label-value .label {
    font-weight: bold;
    width: 170px; 
}

#desvincularModal .label-value .value {
    flex: 1;
}

/* Estilos para el campo de motivo de inactivación */
#desvincularModal .motivo-inactivacion {
    margin-top: 10px;
}

#desvincularModal .motivo-inactivacion label {
    font-weight: bold;
}

#desvincularModal .motivo-inactivacion textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permitir cambiar el tamaño verticalmente */
}

#desvincularModal .mensaje-terapeuta {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

#desvincularModal .modal-footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#desvincularModal .cancel-btn,
#desvincularModal .confirm-btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#desvincularModal .cancel-btn {
    background-color: #FF7070;
}

#desvincularModal .confirm-btn {
    background-color: #006A60;
    color: white;
}

#desvincularModal .cancel-btn:hover,
#desvincularModal .confirm-btn:hover {
    opacity: 0.8;
}


.no-rutinas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 20px;
    font-weight: 500;
    color: #666;
}

/* Estilos para menu desplegable de sesiones */
.contenedor-sesiones {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.sesion-card {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.sesion-card h4 {
    margin: 0 0 5px;
} 

.sesion-grafico-btn {
    background-color: #008CAB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.sesion-grafico-btn:hover {
    background-color: #005f6b;
}

.contenido-modal {
    display: flex;
    padding: 20px;
    background-color: #fefefe;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.625rem;
    width: 900px;
    height: 400px;
    margin: auto; /* Centrar horizontalmente */
    position: absolute; /* Centrar verticalmente */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chart_sesion {
    width: 100%;
    height: 400px;
}

.close {
    position: absolute;
    top: 7.5px; /* Ajusta la distancia desde la parte superior del modal */
    right: 22.5px; /* Ajusta la distancia desde la parte derecha del modal */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Estilos para el botón adicional de historial completo */
.boton-historial {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-historial {
    background-color: #008CAB;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-historial:hover {
    background-color: #005f6b;
}

.btn-historial i {
    margin-left: 5px;
}

/* Estilos específicos para el formulario Editar Rutina */
#editarRutinaModal {
    display: none;  
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
}

/* Estilos para el contenido del modal */
#editarRutinaModal .modal-content{
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Puedes ajustar el ancho según tus necesidades */
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}

/* Estilos para el botón de cerrar */
#editarRutinaModal .close {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 15px; /* Ajusta la distancia desde la parte derecha */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#editarRutinaModal .close:hover,
#editarRutinaModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el formulario dentro del modal */
#editarRutinaModal form {
    display: flex;
    flex-direction: column;
}

#editarRutinaModal label {
    margin-top: 15px;
    font-weight: bold;
}

#editarRutinaModal input[type="date"],
#editarRutinaModal input[type="number"],
#editarRutinaModal input[type="text"],
#editarRutinaModal select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#editarRutinaModal .frecuencia-inputs {
    display: flex;
    align-items: center;
}

#editarRutinaModal .frecuencia-inputs input,
#editarRutinaModal .frecuencia-inputs select {
    flex: 1;
}

#editarRutinaModal .frecuencia-inputs p {
    margin: 0 10px;
}

#editarRutinaModal .modal-footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#editarRutinaModal .cancel-btn,
#editarRutinaModal .confirm-btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editarRutinaModal .cancel-btn {
    background-color: #FF7070;
}

#editarRutinaModal .confirm-btn {
    background-color: #006A60;
    color: white;
}

#editarRutinaModal .cancel-btn:hover,
#editarRutinaModal .confirm-btn:hover {
    opacity: 0.8;
}


/* Modal Popup para mostrar mensaje de éxito */

.contenido-modal-mensaje {
    display: flex;
    background-color: #fefefe;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.625rem;
    width: 18.75rem;
    height: 14.0625rem;
    margin: auto; /* Centrar horizontalmente */
    position: absolute; /* Centrar verticalmente */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenido-modal-mensaje img{
    width: 75px;
    height: 75px;
}

.contenido-modal-mensaje p{
    font-size: 1.25rem;
}

.contenido-carga {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 300px;
    text-align: center;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



@media screen and (max-width: 768px){
    .contenido-modal {
        width: 600px;
        height: 400px;
    }
    
    #chart_sesion {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 600px){
    .contenido-modal {
        width: 475px;
        height: 400px;
    }
}

@media screen and (max-width: 1050px) {
    .contenedor-header {
        flex-direction: column; 
        align-items: center;    
    }

    .contenedor-header h1 {
        margin-bottom: 20px;    
        text-align: center;     
        font-size: 40px;       
    }

    .desvincular-btn {
        width: auto;           
    }
}

@media screen and (max-width: 1050px) {
    .contenedor-header {
        flex-direction: column; 
        align-items: center;    
    }

    .contenedor-header h1 {
        margin-bottom: 20px;    
        text-align: center;     
        font-size: 40px;       
    }

    .desvincular-btn {
        width: auto;           
    }
}

@media screen and (max-width: 550px){
    .contenedor-header h1 {
        margin-bottom: 20px;    
        text-align: center;     
        font-size: 30px;       
    }
}


/* Media Queries */
@media screen and (max-width: 1020px) {
    /* Ajustar el contenedor principal para pantallas pequeñas */
    .contenedor-principal {
        padding: 15px;
    }

    /* Ajustar el contenedor superior */
    .contenedor-superior {
        display: flex;
        flex-direction: column; /* Cambiar a columna */
        margin-right: 0;
    }

    /* Centrar el botón de progreso del paciente */
    .progreso-paciente-btn {
        display: flex;
        align-self: center;
        margin-top: 10px;
        padding: 20px; /* Reducir padding */
    }

    .progreso-paciente-content h3 {
        font-size: 16px;
    }

    .progreso-icono i {
        font-size: 40px;
    }

    /* Ajustar el tamaño del nombre del paciente */
    .nombre-paciente h2 {
        font-size: 28px;
        text-align: center;
    }

    /* Ajustar detalles del paciente */
    .detalles-paciente {
        justify-content: center;
        gap: 20px;
        font-size: 20px;
        margin-top: 10px;
    }

    /* Ajustar el contenedor inferior */
    .contenedor-inferior {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .info-cita {
        font-size: 22px;
        margin-bottom: 10px;
        text-align: center;
    }

    /* Ajustar acciones del paciente */
    .acciones-paciente {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .acciones-paciente button {
        width: 80%; /* Ocupar el 80% del ancho */
        max-width: 300px; /* Máximo ancho */
    }
}
