.back-button {
    color: #000;
    font-size: 24px;
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-top: -50px;
}

.back-button:hover {
    color: #008CAB;
    transition: color 0.3s ease;
}
.contenedor-header h1 {
    display: flex;
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    vertical-align: middle;
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.desvincular-btn {
    background-color: #FF7070;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.desvincular-btn:hover {
    background-color: #FF5C5C;
}

/* -------------------CONTENEDOR PRINCIPAL------------------- */
.contenedor-principal {
    width: 95%;
    display: flex;

    flex-direction: column;
    background-color: #D9D9D9;
    border-top-right-radius: 50px;
    padding: 25px;
    margin: 0 auto;
}

/* Contenedor superior que incluye información y progreso */
.contenedor-superior {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-right: 15px;
}

/* Información del paciente */
.info-paciente {
    flex-grow: 1;
}

.info-paciente h2 {
    font-size: 35px;
    font-weight: 400;
}

.info-detalle {
    display: flex;
    gap: 50px;
    font-size: 25px;
    font-weight: 400;
    margin-top: 15px;
}

/* Contenedor del botón de progreso del paciente */
.progreso-paciente-btn {
    display: flex;
    background-color: #ACC6CC;
    border: none;
    color: inherit;
    padding: 40px 40px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 200px;
}

.progreso-paciente-btn:hover {
    background-color: #bde2dc;
}

.progreso-paciente-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.progreso-paciente-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.progreso-icono i {
    font-size: 50px;
    color: #008CAB;
}

/* -------------------CONTENEDOR INFERIOR------------------- */
.contenedor-inferior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.info-cita {
    font-size: 28px;
    font-weight: 400;
    color: #000000;
}

/* Botones */
.btn-observaciones, .btn-añadir-rutina {
    margin-top: 10px;
    margin-right: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size:16px;
    cursor: pointer;
    border-radius: 50px;
    width: 164px;
    gap: 10px;
}

.btn-observaciones:hover, .btn-añadir-rutina:hover {
    background-color: #008CAB;
    color: #ffffff;
}

.info-cita i {
    color: #008CAB;
}

/* -------- Boton Modificar Rutina --------------- */

.modificar-rutina {
    display: flex;
    flex-direction: row-reverse;
    margin: 15px 30px;
    gap: 10px;
}
.btn-modificar-rutina {
    background-color: #008CAB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
/* -------------------CONTENEDOR RUTINAS------------------- */
.contenedor-rutinas {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rutina-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    list-style: none;
}

.rutina-card:hover {
    transform: translateY(-5px);
}

.rutina-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.rutina-header h3 {
    font-size: 22px;
    font-weight: 600;
    color: #008cab;
}

.rutina-header p {
    font-size: 16px;
    color: #666;
}

.rutina-contenido {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 20px;
}

.rutina-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 15px;
    color: #333;
}

.rutina-info p {
    margin: 0;
}

.rutina-detalles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.detalle {
    width: 100%;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rutina-estado {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
    margin-right: 20px;
}

.rutina-estado p {
    width: 80%;
    font-size: 16px;
    color: #666;
    font-weight: 500;
}

.btn-ver-sesiones {
    width: 80%;
    background-color: #008cab;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-ver-sesiones:hover {
    background-color: #005f6b;
}
/* Estilos generales para el popup de confirmación */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
}

.modal-content h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 17px;
    justify-content: space-between;
    width: 80%;
}

.label-value {
    display: grid;
    grid-template-columns: 200px 1fr; 
    gap: 10px; 
}

.label {
    text-align: left; 
}

.value {
    text-align: left;
}

.motivo-inactivacion {
    margin-top: 10px;
}


.motivo-inactivacion textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.mensaje-terapeuta{
    display: flex;
    text-align: center;
    font-weight: 500;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.confirm-btn, .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-btn {
    background-color: #006A60;
    color: white;
}

.cancel-btn {
    background-color: #FF6161;
    color: white;
}

.confirm-btn:hover, .cancel-btn:hover {
    opacity: 0.9;
}

