.contenedor-header {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    gap: 40px;
    flex-flow: row nowrap;
    width: 100%;

}

.contenedor-header h1 {
    font-size: 48px;
    color: black;
    font-weight: 500;
}

.search-container {
    display: flex;
    width: 70%;
}

.search-icon {
    position: flex;
    justify-content: flex-end;
    width: 20px; 
    height: 20px;
    margin-left: -30px;
    margin-top: 8px;
}
/* Estilos para la barra de búsqueda */
.search-bar {
    display: flex;
    padding: 8px;
    font-size: 16px;
    background-color: #D9D9D9;
    border: 0.5px solid rgb(165, 165, 165);
    border-radius: 5px;
    width: 500px;
}

.search-bar:focus {
    outline: none;
    border-color: black;
}

.clear-button {
    display: flex;
    gap: 5px;
    background-color: #f5554a;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    height: auto;
}

.clear-button:hover {
    background-color: #d32f2f;
}

.no-results {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #ff0000; /* Puedes cambiar el color del texto a tu gusto */
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: relative; /* Posiciona la paginación de manera relativa */
    top: -10px; /* Desplaza la paginación hacia arriba */
    margin: 0; /* Elimina el margen para evitar separación extra */
}

.prev-button, .next-button {
    display: inline-block;
    margin: 0 5px; /* Reduce el espacio entre los botones */
    cursor: pointer;
    font-size: 14px; /* Disminuye el tamaño de la fuente para los botones */
}

.previous-icon, .next-icon {
    width: 0.8em; /* Reduce el tamaño del ícono */
    height: auto; /* Mantiene la proporción del ícono */
    vertical-align: middle; /* Alinea el ícono verticalmente en el centro */
}


/* Efecto hover para los íconos */
.prev-button:hover .previous-icon, 
.next-button:hover .next-icon {
    transform: scale(1.1); /* Aumenta el tamaño del ícono al pasar el mouse */
}

.main-content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.report-icon {
    width: 50px;
    height: 50px;
}

/* Estilos de paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination .step-links a {
    color: white;
    background-color: #008cab;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.pagination .step-links a:hover {
    background-color: #005f6b;
}

.pagination .current {
    padding: 10px 15px;
    background-color: #D9D9D9;
    border-radius: 5px;
    font-size: 14px;
}

.pagination .step-links {
    display: flex;
    gap: 5px;
    align-items: center;
}

.disabled {
    color: white;
    background-color: #d9d9d9;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .contenedor-header{
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        gap: 0px;
    }

    .report-icon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 768px){
    .report-icon {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 600px){
    .report-icon {
        width: 25px;
        height: 25px;
    }
}