/* Estilos para el contenedor del perfil */
.profile-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}

/* Estilos para la información del perfil */
.profile-info h1 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 128.5px;
    margin-bottom: 30px;
}

.profile-info h2 {
    font-weight: 500;
    font-size: 32px;
}

.contact-info h2 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.perfil-imagen,.doctor-logo {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    object-fit: cover;
    margin-top: auto;
    margin-left: auto;
    color: #008CAB;
    cursor: pointer;
    
}

.btn-editar-credenciales {
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: #008CAB;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px; 
    color: white; 
}

.btn-editar-credenciales:hover {
    background-color: #029fc2;
}
/* Estilos para la información de contacto */
.contact-info {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: auto;
}

.contact-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    justify-content: space-between;
    background-color: white;
    width: 400px;

}

.contact-item input {
    border: none;
    outline: none;
    flex: 1;
}

.contact-item i {
    margin-right: 15px;
    font-size: 24px;
    color: #008CAB;
}

.contact-item p {
    font-size: 18px;
}

/* Estilos para información adicional */
.additional-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* Estilos para la sección de presentación */
.presentation {
    width: 45%;
    width: 600px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 15px;
    margin-top: 40px;
}

.presentation h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentation-edit-icon {
    margin-left: 10px;
    color: #008CAB;
}

.edit-icon {
    cursor: pointer;
    color: #008CAB;
}

.presentation p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    width: 90%;
}

/* Estilo general del popup */
.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-title {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
    color: #000000;
}

.popup-subtitle {
    font-size: 24px;
    font-weight: 400; 
    color: #000000;
    margin-bottom: 10px;
}

/* Contenido del popup */
.popup-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 440px;
    position: relative;
}

/* Agregar y eliminar foto de perfil*/
input[type="file"]::-webkit-file-upload-button {
    background-color: #008CAB;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.eliminar-imagen-label {
    color: white;
    margin-top: 20px;
    background-color: #FF6161;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}

.close {
    position: absolute; 
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
}

/* Estilos para la caja de texto de presentación */
#presentacion {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical;
    margin-bottom: 20px;
}

/* Estilo de los botones */
.popup-actions {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.cancel-btn,
.confirm-btn {
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-btn {
    background-color: #FF6161;
    color: white;
}

.confirm-btn {
    background-color: #006A60;
    color: white;
}

/* Modal de éxito */
.contenido-modal {
    display: flex;
    padding: 20px;
    background-color: #fefefe;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.625rem;
    width: 40rem; /* Modal más pequeño */
    height: 20rem; /* Modal más pequeño */
    margin: auto;
    position: fixed; /* Asegura que el modal se mantenga fijo */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Asegura que el modal esté encima de otros elementos */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8); /* Sombra agregada */
}

.contenido-modal img {
    width: 120px; /* Tamaño ajustado de la imagen */
    height: auto; 
    margin-bottom: 1rem;
}

.contenido-modal h1, .contenido-modal h2, .contenido-modal p {
    font-size: 1.75rem; /* Aumento del tamaño de la fuente para los encabezados */
}

.contenido-modal p {
    font-size: 1.25rem; /* Aumento del tamaño de la fuente para el mensaje */
}

/* Ajustes responsivos */
@media (max-width: 1400px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 30px;
        justify-content: center;  /* Asegura que todo el contenido esté centrado */
    }

    .profile-info {
        text-align: center;  /* Centra el texto de los elementos dentro de profile-info */
    }

    .profile-info h1 {
        margin-top: 0px;
        font-size: 28px;
        text-align: center;
    }

    .profile-info h2 {
        margin-top: 0px;
        font-size: 18px;
        text-align: center;
    }

    .doctor-logo {
        display: flex;
        justify-content: center;  /* Centra la imagen de perfil horizontalmente */
        align-items: center;  /* Centra la imagen verticalmente */
        margin-top: 20px;  /* Añadir margen superior para dar espacio */
    }

    .perfil-imagen {
        width: 250px;  /* Ajustar tamaño de la imagen para pantallas pequeñas */
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }

    .contact-item {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;  /* Asegura que el contenido de los elementos de contacto se centre */
        align-items: center;  /* Centra verticalmente los íconos y texto */
    }

    .presentation {
        width: 90%;  /* Ajusta el ancho para que no se estire demasiado en pantallas pequeñas */
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: auto;  /* Centra horizontalmente */
        margin-right: auto;  /* Centra horizontalmente */
    }

    .presentation h2 {
        font-size: 20px;
    }

    .presentation p {
        font-size: 16px;
    }

    .contact-info {
        margin-left: 0;  /* Elimina el margen izquierdo en pantallas pequeñas */
        margin-top: 20px;
    }

    .contact-item {
        width: 100%;  /* Asegura que los elementos de contacto se adapten al 100% del contenedor */
        padding: 10px;
        justify-content: space-between;  /* Mantén el espacio entre los íconos y el texto */
    }

    /* Asegura que los botones también estén centrados */
    .btn-editar-credenciales {
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    .profile-info h1 {
        font-size: 22px;
    }

    .profile-info h2 {
        font-size: 18px;
    }

    .contact-item p {
        font-size: 16px;
    }

    .presentation h2 {
        font-size: 18px;
    }

    .presentation p {
        font-size: 14px;
    }
}
