{% extends 'recepcionista_base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/asignar_terapeuta.css' %}">
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">
<link rel="stylesheet" href="{% static 'styles/modal.css' %}">
{% endblock %}

{% block title %}Asignar Terapeuta{% endblock %}

{% block header %}
<div class="contenedor-header">
    <h1>Asignar Terapeuta</h1>
    <!--CAMBIAR POR EL BUSCADOR DE Terapeuta-->
    <form method="GET" action="{% url 'recepcionista_pacientes_activos' %}" class="pacientes-busqueda-form">
        <input type="text" name="search" placeholder="Búsqueda por Nombre, Rut o Tratamiento" class="pacientes-search-input" id="searchBar" value="{{ request.GET.search|default:'' }}" oninput="toggleClearButton()">
        <img src="{% static 'icons/Lupa.svg' %}" alt="Buscar" class="pacientes-search-icon">
        <button type="button" id="clearButton" class="pacientes-clear-button" onclick="clearSearch()" style="display: {% if request.GET.search %}inline-block{% else %}none{% endif %};">
            Limpiar Filtro
        </button>
    </form>
    <h3>Seleccione el terapeuta a asignar para el paciente {{paciente.first_name}} {{paciente.last_name}}</h3>
</div>
{% endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Disponibilidad</th>
                <th>Especialidad</th>
                <th>Fecha de Ingreso</th>
            </tr>
        </thead>
        <tbody>
            {% for terapeuta in terapeuta %}
                <tr>
                    <td class="centro-tabla">{{ terapeuta.user.first_name }} {{ terapeuta.user.last_name }}</td>
                    <td class="centro-tabla">{{ terapeuta.user.profile.rut }}</td>
                    <td class="centro-tabla">{{ terapeuta.disponibilidad }}</td>
                    <td class="centro-tabla">{{ terapeuta.especialidad }}</td>
                    <td class="centro-tabla">{{ terapeuta.fecha_ingreso }}</td>
                    <td class="final-tabla">
                        <a href="javascript:void(0);" 
                            title="Asignar terapeuta a {{paciente.first_name}} {{paciente.last_name}}"
                            onclick="mostrarPopUpAsignarTerapeuta('{{ paciente.id }}', '{{ paciente.first_name }}', '{{ paciente.last_name }}', '{{ terapeuta.id }}', '{{ terapeuta.user.first_name }}', '{{ terapeuta.user.last_name }}', '{% url 'asignar_terapeuta' paciente.id terapeuta.id %}')">
                            <img src="{% static 'icons/terapeuta.svg' %}" class="terapeuta-icono" alt="Icono terapeuta">
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="table-empty">No hay terapeutas registrados.</td>
                </tr>
            {% endfor %}
            <tr id="no-coincidencias" style="display: none;">
                <td colspan="7" class="table-empty">No se encontraron coincidencias.</td>
            </tr>
        </tbody>        
    </table>
</div>

<!-- Modal Popup de Confirmación -->
<div id="popupModal" class="modal" style="display: none;">
    <div class="contenido-modal">
        <span class="close" onclick="cerrarPopUp()">&times;</span>
        <h2 id="popup-titulo">Asignar Terapeuta al Paciente</h2>
        <p id="popup-mensaje"></p>
        <div class="botones-modal">
            <button class="boton-cancelar" onclick="cerrarPopUp()">Cancelar</button>
            <button class="boton-confirmar" id="confirmButton">Confirmar</button>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/asignar_terapeuta.js' %}"></script>
{% endblock %}
