{% extends 'recepcionista_base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/recepcionista_terapeutas_activos.css' %}">
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">
{% endblock %}

{% block title %}Terapeutas{% endblock %}

{% block header %}
<div class="contenedor-header">
    <h1>Terapeutas</h1>
    <form method="GET" action="{% url 'recepcionista_terapeutas_activos' %}" class="search-container"> 
        <input type="text" name="search" placeholder="Búsqueda por Nombre, Rut o Especialidad" class="search-bar" id="searchBar" value="{{ request.GET.search|default:'' }}" oninput="toggleClearButton()">
        <img src="{% static 'icons/Lupa.svg' %}" alt="Buscar" class="search-icon">
        
        <button type="button" id="clearButton" class="clear-button" onclick="clearSearch()" style="display: {% if request.GET.search %}inline-block{% else %}none{% endif %};">
            Limpiar Filtro
        </button>
    </form>
    <div class="dropdown">
        <button class="filtro-btn" type="button" id="dropdownMenuButton">
            Filtrar
            <span id="arrow">▼</span>
        </button>
        <ul id="filterOptions" class="dropdown-content" style="display:none;">
            <li><a href="#" onclick="applyFilter('fecha_ingreso')" class="{% if order_by == 'fecha_ingreso' %}filtro-activo{% endif %}">Fecha de Ingreso</a></li>
            <li><a href="#" onclick="applyFilter('user__first_name')" class="{% if order_by == 'user__first_name' %}filtro-activo{% endif %}">Nombre</a></li>
            <li><a href="#" onclick="applyFilter('user__last_name')" class="{% if order_by == 'user__last_name' %}filtro-activo{% endif %}">Apellido</a></li>
            <li><a href="#" onclick="applyFilter('user__profile__rut')" class="{% if order_by == 'user__profile__rut' %}filtro-activo{% endif %}">Rut</a></li>
            <li><a href="#" onclick="applyFilter('especialidad')" class="{% if order_by == 'especialidad' %}filtro-activo{% endif %}">Especialidad</a></li>
            <li><a href="#" onclick="clearOrderFilter()">Limpiar filtro</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Estado</th>
                <th>Especialidad</th>
                <th>Fecha de Ingreso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for terapeuta in terapeutas %}
            <tr>
                <td class="inicio-tabla">{{ terapeuta.user.first_name }} {{ terapeuta.user.last_name }}</td>
                <td class="centro-tabla">{{ terapeuta.user.profile.rut }}</td>
                <td class="centro-tabla">
                    <span class="badge {% if terapeuta.user.is_active %}bg-success{% else %}bg-secondary{% endif %}">
                        {% if terapeuta.user.is_active %}Activo <img class = "img-estado" src="{% static "icons/activo.svg" %}"> {% else %}Inactivo <img class = "img-estado" src="{% static "icons/inactivo.svg" %}"> {% endif %}
                    </span>
                </td>
                <td class="centro-tabla">{{terapeuta.especialidad}}</td>
                <td class="centro-tabla">{{ terapeuta.fecha_ingreso }}</td>
                <td class="final-tabla">
                    <img src="{% static 'icons/terapeuta_morado.svg' %}" alt="Doctor Logo" class="doctor-logo">
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="table-empty">No hay terapeutas registrados.</td>
            </tr>
            {% endfor %}
            <tr id="no-coincidencias" style="display: none;">
                <td colspan="7" class="table-empty">No se encontraron coincidencias.</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if terapeutas.has_previous %}
            <a href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Primera Página">
                &#171;
            </a>
            <a href="?page={{ terapeutas.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Página Anterior">
                &#8249;
            </a>
        {% else %}
            <span class="disabled">&#171;</span>
            <span class="disabled">&#8249;</span>
        {% endif %}

        <span class="current">
            {{ terapeutas.number }}
        </span>

        {% if terapeutas.has_next %}
            <a href="?page={{ terapeutas.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Página Siguiente">
                &#8250;
            </a>
            <a href="?page={{ terapeutas.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Última Página">
                &#187;
            </a>
        {% else %}
            <span class="disabled">&#8250;</span>
            <span class="disabled">&#187;</span>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block extra_js %}

<script src="{% static 'js/filtroListados.js' %}"></script>
<script src="{% static 'js/buscar_terapeutas.js' %}"></script>
{% endblock %}