{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OrtesisWeb{% endblock %}</title>
    <!--     Fuente JOST    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <!-- Estilos generales -->
    <link rel="stylesheet" href="{% static 'css/base/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    
    <!-- Bloque adicional para cargar estilos CSS o meta tags específicos -->
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="contenedor-grid">
        <!-- Sidebar -->
        <aside class="sidebar_terapeuta">
            <div class="logos">
                <img class="logo_hospital" src="{% static 'images/logo_hospital_blanco.svg' %}" alt="Logo logo_hospital">
                <img class="logo_u" src="{% static 'images/logo_universidad_blanco.svg' %}" alt="Logo UA">
            </div>
            <hr class="divider">
            <div class="profile">
                <img src="{% static 'icons/therapist.svg' %}" alt="Icono terapeuta">
                <div class="nombre_usuario">
                    <p>DR. {{ user.first_name|upper }} </p> <p>{{ user.last_name|upper }}</p>
                </div>
            </div>
            <hr class="divider">
            <ul class="menu">
                <li>
                    <a href="{% url 'perfil' %}" class="{% if request.path == 'perfil/' %}active{% endif %}">
                        <img src="{% static 'icons/user-profile.svg' %}" alt="Perfil terapeuta">
                        Perfil
                    </a>
                </li>
                <li>
                    <a href="{% url 'paciente_terapeuta' %}" class="{% if request.path == 'paciente_terapeuta/' %}active{% endif %}">
                        <img src="{% static 'icons/list-users.svg' %}" alt="Listado de pacientes">
                        Pacientes
                    </a>
                </li>
                <li>
                    <a href="{% url 'agenda' %}" class="{% if request.path == 'agenda/' %}active{% endif %}">
                        <img src="{% static 'icons/calendar.svg' %}" alt="Agenda terapeuta">
                        Agenda
                    </a>
                </li>
            </ul>
            <hr class="divider divider_logout">
            <div class="logout">
                <a href="{% url 'logout' %}">
                    <img src="{% static 'icons/log-out.svg' %}" alt="Cerrar sesión">
                    Salir
                </a>
            </div>
        </aside>

        <!-- Header -->
        <header class="header">
            {% block header %}{% endblock %}
            <div class="notification-icon">
                <a href="#">
                    <img src="{% static 'icons/notification.svg' %}" alt="notificación">
                </a>
            </div>

            <!-- Modal de Notificaciones -->
            <div id="modalNotificaciones" class="modal-notificaciones">
                <div class="contenido-notificaciones">
                    {% for notificacion in notificaciones %}
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <main class="main-content">
            {% block content %}
            <!-- Aquí se cargará el contenido específico de cada página -->
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer class="footer">
            <p>&copy; 2024 OrtesisWeb</p>
        </footer>
    </div>
    

    <!-- JavaScript general -->
    <script src="{% static 'js/activeMenu.js' %}"></script>
    <script>
        function toggleModalNotificaciones() {
            const modal = document.getElementById('modalNotificaciones');
            modal.style.display = (modal.style.display === 'none' || modal.style.display === '') ? 'block' : 'none';
            
            if (modal.style.display === 'block') {
                fetchNotificaciones();
            }
        }
    
        function fetchNotificaciones() {
            fetch("{% url 'obtener_notificaciones' %}")
                .then(response => response.json())
                .then(data => {
                    const contenido = document.querySelector('.contenido-notificaciones');
                    contenido.innerHTML = '';  // Limpiar contenido previo

                    if (data.length === 0) {
                        contenido.innerHTML = '<p>No hay notificaciones para mostrar.</p>';
                    } else {
                        data.forEach(notificacion => {
                            contenido.innerHTML += `
                                <div class="item-notificacion" data-id="${notificacion.id}">
                                    <p><strong>Cita de Rutina:</strong><br>
                                    Paciente: ${notificacion.paciente}<br>
                                    Hora: ${notificacion.hora} hrs<br>
                                    Sala: ${notificacion.sala}</p>
                                    <div class="delete-notification">
                                        <h1>Borrar</h1>
                                        <i class="fas fa-trash"></i>
                                    </div>
                                </div>
                            `;
                        });
                    }
                })
                .catch(error => console.error('Error al obtener notificaciones:', error));
        }
    
        // Mostrar/ocultar notificaciones al hacer clic en el icono
        document.querySelector('.notification-icon a').addEventListener('click', function(event) {
            event.preventDefault();
            toggleModalNotificaciones();
        });
    
        // Cerrar el modal si se hace clic fuera de él
        document.addEventListener('click', function(event) {
            const modal = document.getElementById('modalNotificaciones');
            const notificationIcon = document.querySelector('.notification-icon');
            if (!modal.contains(event.target) && !notificationIcon.contains(event.target)) {
                modal.style.display = 'none';
            }
        });

        document.addEventListener('click', function(event) {
            if (event.target.closest('.delete-notification')) {
                const notificacionId = event.target.closest('.item-notificacion').dataset.id;
                fetch(`/marcar-notificacion-como-leida/${notificacionId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',  // Asegúrate de incluir el token CSRF
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => {
                    if (response.ok) {
                        // Aquí puedes eliminar la notificación del DOM
                        event.target.closest('.item-notificacion').remove();
                    } else {
                        console.error('Error al marcar la notificación como leída');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Si esta cookie comienza con el nombre que buscamos
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

    </script>
    
    <!-- Bloque adicional para cargar scripts JS específicos -->
    {% block extra_js %}{% endblock %}

</body>

</html>
