{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correo Enviado</title>
    <!-- Fuente JOST -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'styles/password-reset/invalid_token.css' %}"
    />
  </head>
  <body class="contenedor">
    <!-- Logos -->
    <img
      src="{% static 'images/logo_universidad_blanco.svg' %}"
      alt="Logo Universidad Autónoma"
      class="logo-top-left"
    />
    <img
      src="{% static 'images/logo_hospital_blanco.svg' %}"
      alt="Logo Hospital"
      class="logo-top-right"
    />

    <div class="contenedor-central">
      <h2>Token inválido o expirado</h2>
      <img
        src="{% static 'images/sad_icon.svg' %}"
        alt="Descripción de la imagen"
        class="imagen-central"
      />
      <p>
        El enlace para restablecer tu contraseña no es válido o ha expirado. Por
        favor, solicita un nuevo enlace.
      </p>
      <button
        type="button"
        class="btn"
        onclick="window.location.href='{% url 'password_reset' %}'"
      >
        Volver a solicitar enlace
      </button>
    </div>
  </body>
</html>
