{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correo Enviado</title>
    <!-- Fuente JOST -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'styles/password-reset/password_reset_done.css' %}"
    />
  </head>
  <body class="contenedor">
    <!-- Logos -->
    <img
      src="{% static 'images/logo_universidad_blanco.svg' %}"
      alt="Logo Universidad Autónoma"
      class="logo-top-left"
    />
    <img
      src="{% static 'images/logo_hospital_blanco.svg' %}"
      alt="Logo Hospital"
      class="logo-top-right"
    />

    <!-- Contenedor de confirmación de correo enviado -->
    <div class="contenedor-central">
      <img
        src="{% static 'images/comprobado-480.svg' %}"
        alt="Descripción de la imagen"
        class="imagen-central"
      />
      <p>
        Correo enviado exitosamente. Si la dirección de correo electrónico está
        registrada en nuestro sistema, recibirás un correo con las instrucciones
        para restablecer tu contraseña. Recuerda revisar la bandeja de spam.
      </p>
      <button
        type="button"
        class="btn"
        onclick="window.location.href='{% url 'login' %}'"
      >
        Volver al inicio
      </button>
    </div>
  </body>
</html>
