{% extends 'administrador_base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/listar_pacientes_administrador.css' %}">
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">
<link rel="stylesheet" href="{% static 'styles/modal.css' %}">
<link rel="stylesheet" href="{% static 'styles/carga_masiva.css' %}">
{% endblock %}

{% block title %}Pacientes{% endblock %}

{% block header %}
<div class="contenedor-header">
    <h1>Pacientes</h1>

    <form method="GET" action="{% if estado == 'activos' %}
                                    {% url 'listar_pacientes_activos' %}
                                {% else %}
                                    {% url 'listar_pacientes_inactivos' %}
                                {% endif %}"
                                class="search-container"> 
        <input type="text" name="search" placeholder="Nombre, Rut, Terapeuta o 'Sin terapeuta'" class="search-bar" id="searchBar" value="{{ request.GET.search|default:'' }}" oninput="toggleClearButton()">
        <img src="{% static 'icons/Lupa.svg' %}" alt="Buscar" class="search-icon">
        
        <button type="button" id="clearButton" class="clear-button" onclick="clearSearch()" style="display: {% if request.GET.search %}inline-block{% else %}none{% endif %};">
            Limpiar Filtro
        </button>
    </form>
</div>
<div id="message-container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
    {% endfor %}
    {% endif %}
</div>
<button id="boton-carga-masiva" onclick="openPopup()">Carga masiva
    <img src="{% static 'icons/carga-masiva.svg' %}">
</button>
<button id="boton-agregar-paciente">Agregar Paciente
    <img src="{% static 'icons/plus.svg' %}">
</button>
{% endblock %}

{% block content %}

<div class="contenedor-superior">

    <div class="filtros">
        <a href="{% url 'listar_pacientes_activos' %}" class="btn-{% if estado == 'activos' %}active{% endif %}" type="button">Activos</a>
        <a href="{% url 'listar_pacientes_inactivos' %}" class="btn-{% if estado == 'inactivos' %}active{% endif %}" type="button">Inactivos</a>
    </div>

    <div class="seleccion-estados">
        {% if estado == 'activos' %}
            <button id="inactivar-btn" class="btn btn-warning" disabled>Inactivar</button>
        {% elif estado == 'inactivos' %}
            <button id="restaurar-btn" class="btn btn-success" disabled>Restaurar</button>
        {% endif %}
    </div>

    <div class="dropdown">
        <button class="filtro-btn" type="button" id="dropdownMenuButton">
            Filtrar
            <span id="arrow">▼</span>
        </button>
        <ul id="filterOptions" class="dropdown-content" style="display:none;">
            <li><a href="#" onclick="applyFilter('date_joined')" class="{% if order_by == 'date_joined' %}filtro-activo{% endif %}">Fecha de Ingreso</a></li>
            <li><a href="#" onclick="applyFilter('terapeuta')" class="{% if order_by == 'terapeuta' %}filtro-activo{% endif %}">Terapeuta</a></li>
            <li><a href="#" onclick="applyFilter('first_name')" class="{% if order_by == 'first_name' %}filtro-activo{% endif %}">Nombre</a></li>
            <li><a href="#" onclick="applyFilter('last_name')" class="{% if order_by == 'last_name' %}filtro-activo{% endif %}">Apellido</a></li>
            <li><a href="#" onclick="applyFilter('rut')" class="{% if order_by == 'rut' %}filtro-activo{% endif %}">Rut</a></li>
            <li><a href="#" onclick="clearOrderFilter()">Limpiar filtro</a></li>
        </ul>
    </div>
    
</div>

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Estado</th>
                <th>Terapeuta</th>
                <th>Fecha de Ingreso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
            <tr>
                <td class="inicio-tabla"><input type="checkbox" class="paciente-checkbox" value="{{ paciente.id }}"></td>
                <td class="centro-tabla">{{ paciente.first_name }} {{ paciente.last_name }}</td>
                <td class="centro-tabla">{{ paciente.rut }}</td>
                <td class="centro-tabla">
                    <span class="badge {% if paciente.is_active %}bg-success{% else %}bg-secondary{% endif %}">
                        {% if paciente.is_active %}Activo <img class = "img-estado" src="{% static "icons/activo.svg" %}"> {% else %}Inactivo <img class = "img-estado" src="{% static "icons/inactivo.svg" %}"> {% endif %}
                    </span>
                </td>
                <td class="centro-tabla">{% if paciente.terapeuta %}{{ paciente.terapeuta.user.first_name }} {{ paciente.terapeuta.user.last_name }}{% else %}Sin terapeuta{% endif %}</td>
                <td class="centro-tabla">{{ paciente.date_joined }}
                <td class="final-tabla">
                    <a href="{% url 'mostrar_paciente_administrador' paciente.id %}" class="btn btn-outline-danger btn-sm" title="Ver detalle paciente" 
                        onclick="mostrarPopUp('{{ paciente.id }}', '{{ paciente.first_name }} {{ paciente.last_name }}', '{{ paciente.rut }}', '{{ paciente.patologia }}')">
                        <img src="{% static 'icons/Detalle.svg' %}" alt="Ver Detalle" />
                    </a>
                    {% if estado == 'activos' %}
                    <a href="#" class="btn btn-outline-danger btn-sm" title="Pasar a estado inactivo" 
                        onclick="mostrarPopUpInactivar('{{ paciente.id }}', '{{ paciente.first_name }} {{ paciente.last_name }}', '{{ paciente.rut }}')">
                        <img src="{% static 'icons/DeleteUser.svg' %}" alt="Inactivar" />
                    </a>
                    {% elif estado == 'inactivos' %}
                    <a href="#" class="btn btn-outline-danger btn-sm" title="Restaurar a estado activo" 
                        onclick="mostrarPopUpRestaurar('{{ paciente.id }}', '{{ paciente.first_name }} {{ paciente.last_name }}')">
                        <img src="{% static 'icons/restore.svg' %}" alt="Restaurar" />
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="table-empty">No hay pacientes registrados.</td>
            </tr>
            {% endfor %}
            <tr id="no-coincidencias" style="display: none;">
                <td colspan="7" class="table-empty">No se encontraron coincidencias.</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="popupModal" class="modal" style="display: none;">
    <div class="contenido-modal">
        <span class="close" onclick="cerrarPopUp()">&times;</span>
        <h2 id="popup-titulo"></h2>
        <p id="popup-mensaje"></p>
        <div class="botones-modal">
            <button class="boton-cancelar" onclick="cerrarPopUp()">Cancelar</button>
            <button class="boton-confirmar" id="confirmButton" onclick="confirmarCambioEstado()">Confirmar</button>
        </div>
    </div>
</div>

<!--    Paginación  -->
<div class="pagination">
    <span class="step-links">
        {% if pacientes.has_previous %}
            <a href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Primera Página">
                &#171;
            </a>
            <a href="?page={{ pacientes.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Página Anterior">
                &#8249;
            </a>
        {% else %}
            <span class="disabled">&#171;</span>
            <span class="disabled">&#8249;</span>
        {% endif %}

        <span class="current">
            {{ pacientes.number }}
        </span>

        {% if pacientes.has_next %}
            <a href="?page={{ pacientes.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Página Siguiente">
                &#8250;
            </a>
            <a href="?page={{ pacientes.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}" title="Última Página">
                &#187;
            </a>
        {% else %}
            <span class="disabled">&#8250;</span>
            <span class="disabled">&#187;</span>
        {% endif %}
    </span>
</div>

<!-- Carga masiva -->
<div id="overlay" class="modal" style="display:none;">
    <form action="{% url 'carga_masiva_pacientes' %}" method="POST" enctype="multipart/form-data" id="popup">
        {% csrf_token %}
        <h2 id="titulo_carga">Importar pacientes con archivos CSV</h2>
        <div id="dropzone">
            <p id="dropzone-message">Arrastra tu archivo o haz click para buscar en tu computador</p>
            <input type="file" name="archivo_csv" id="archivo_csv" accept=".csv">
        </div>
        <a id="plantilla_ejemplo" href="{% url 'archivo_csv_ejemplo_pacientes' %}">Plantilla CSV de muestra</a>
        <div class="botones-modal">
            <button id="closePopup" class="boton-cancelar">Cancelar</button>
            <button class="boton-confirmar" id="subir_carga" type="submit">Subir archivo</button>
        </div>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script>
    // Desvanecer los mensajes después de 5 segundos
    setTimeout(function() {
        let messages = document.querySelectorAll('#message-container .alert');
        messages.forEach(function(message) {
            message.style.transition = 'opacity 0.5s ease';
            message.style.opacity = '0';
            setTimeout(function() {
                message.remove();
            }, 500);
        });
    }, 10000);
</script>

<script>
    document.getElementById("boton-agregar-paciente").addEventListener("click", function(){
        window.location.href = "{% url 'agregar_paciente_admin' %}";
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('.paciente-checkbox');
        const selectAllCheckbox = document.getElementById('select-all');
        const inactivarBtn = document.getElementById('inactivar-btn');
        const restaurarBtn = document.getElementById('restaurar-btn');

        if (selectAllCheckbox) {
            selectAllCheckbox.addEventListener('change', function() {
                checkboxes.forEach(checkbox => {
                    checkbox.checked = selectAllCheckbox.checked;
                });
                updateButtonsState();
            });
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', updateButtonsState);
        });

        function updateButtonsState() {
            const selectedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            
            if (inactivarBtn) {
                inactivarBtn.disabled = selectedCheckboxes.length === 0 || !selectedCheckboxes.some(checkbox => {
                    const badge = checkbox.closest('tr').querySelector('td:nth-child(4) .badge');
                    return badge.textContent.trim() === 'Activo';
                });
            }

            if (restaurarBtn) {
                restaurarBtn.disabled = selectedCheckboxes.length === 0 || !selectedCheckboxes.some(checkbox => {
                    const badge = checkbox.closest('tr').querySelector('td:nth-child(4) .badge');
                    return badge.textContent.trim() === 'Inactivo';
                });
            }
        }

        if (inactivarBtn) {
            inactivarBtn.addEventListener('click', function() {
                mostrarPopUpCambioEstado('inactivo');
            });
        }

        if (restaurarBtn) {
            restaurarBtn.addEventListener('click', function() {
                mostrarPopUpCambioEstado('activo');
            });
        }

        // Pop-up para varios pacientes
        window.mostrarPopUpCambioEstado = function(estado) {
            const selectedCheckboxes = Array.from(checkboxes).filter(cb => cb.checked);
            const cantidadSeleccionados = selectedCheckboxes.length;
            const titulo = estado === 'inactivo' ? 'Cambiar a estado inactivo' : 'Restaurar a estado activo';
            const mensaje = estado === 'inactivo' 
                ? `¿Desea cambiar a estado inactivo a <strong>${cantidadSeleccionados}</strong> pacientes?<br><br>Los pacientes podrán ser visualizados y reactivados en la sección de inactivos.`
                : `¿Desea restaurar a estado activo a <strong>${cantidadSeleccionados}</strong> pacientes?<br><br>Los pacientes podrán ser visualizados en la sección de activos y se considerarán como pacientes en tratamiento.`;

            document.getElementById('popup-titulo').innerHTML = titulo;
            document.getElementById('popup-mensaje').innerHTML = mensaje;
            document.getElementById('popupModal').style.display = 'block';

            document.getElementById('confirmButton').setAttribute('data-estado', estado);
            document.getElementById('confirmButton').setAttribute('data-ids', JSON.stringify(selectedCheckboxes.map(cb => cb.value)));
        };

        // Pop-up individual para un paciente
        window.mostrarPopUpInactivar = function(pacienteId, nombre, rut) {
            const titulo = `Cambiar a estado inactivo a<br>${nombre}`;
            const mensaje = `
                ¿Está seguro de que desea inactivar al terapeuta:?<br>
                <div style="display: flex; flex-direction: column; align-items: center; text-align: left;">
                    <div><strong>Nombre:</strong> ${nombre}</div>
                    <div><strong>Rut:</strong> ${rut}</div>
                </div>
                Este terapeuta podrá ser reactivado en la sección de inactivos.
                `;

            document.getElementById('popup-titulo').innerHTML = titulo;
            document.getElementById('popup-mensaje').innerHTML = mensaje;
            document.getElementById('popupModal').style.display = 'block';

            document.getElementById('confirmButton').setAttribute('data-estado', 'inactivo');
            document.getElementById('confirmButton').setAttribute('data-ids', JSON.stringify([pacienteId]));
        };
        window.mostrarPopUpRestaurar = function(id, nombre) {
            document.getElementById('popup-titulo').textContent = `Restaurar paciente`;
            document.getElementById('popup-mensaje').textContent = `¿Está seguro de que desea restaurar a ${nombre}?`;
            document.getElementById('popupModal').style.display = 'block';
        
            document.getElementById('confirmButton').setAttribute('data-estado', 'activo');
            document.getElementById('confirmButton').setAttribute('data-ids', JSON.stringify([id]));
        };

        window.cerrarPopUp = function() {
            document.getElementById('popupModal').style.display = 'none';
        };

        window.confirmarCambioEstado = function() {
            const estado = document.getElementById('confirmButton').getAttribute('data-estado');
            const selectedIds = JSON.parse(document.getElementById('confirmButton').getAttribute('data-ids'));

            const url = estado === 'inactivo' ? "{% url 'cambiar_estado_inactivo' %}" : "{% url 'restaurar_paciente' %}";

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({ pacientes_ids: selectedIds })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    location.reload();
                } else {
                    alert(`Error al ${estado === 'inactivo' ? 'inactivar' : 'restaurar'} los pacientes.`);
                }
            });

            cerrarPopUp();
        };
    });
    
</script>
<script src="{% static 'js/buscar_paciente_recepcionista.js' %}"></script>
<script src="{% static 'js/filtroListados.js' %}"></script>
<script src="{% static 'js/carga_masiva.js' %}"></script>
{% endblock %}

