{% extends 'administrador_base.html' %}

{% load static %}

{% block title %}Gestión de terapeutas{% endblock %}

{% block extra_head%}

<link rel="stylesheet" href="{% static 'styles/agregar_terapeuta.css' %}">
<link rel="stylesheet" href="{% static 'styles/formularios.css' %}">
<link rel="stylesheet" href="{% static 'styles/modal.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block header %}
<div class="contenedor-header">
    <a href="{% url 'listar_terapeutas_activos' %}">
        <img src="{% static 'icons/Volver-atras.svg' %}" alt="">
    </a>
    <h1>Agregar terapeuta</h1>
</div>
{% endblock %}

{% block content %}

<!-- Formulario para agregar un terapeuta -->
<form action="{% url 'agregar_terapeuta' %}" method="POST" onsubmit="return mostrarMensajeExito()">
    {% csrf_token %}
    <h2> Datos del terapeuta </h2>

    {% comment %} DATOS DEL TERAPEUTA COLUMNA IZQUIERDA {% endcomment %}
    <div class="divisor-formulario">
        <div class="datos-columna-izquierda">

            <!-- Campo RUT -->
            <div class="form-group">
                <label for="{{ terapeuta_form.rut.id_for_label }}">{{ terapeuta_form.rut.label }}</label>
                {{ terapeuta_form.rut }}
                <div class="error">{{ terapeuta_form.rut.errors }}</div>
            </div>
    
            <!-- Campo Nombre -->
            <div class="form-group">
                <label for="{{ terapeuta_form.first_name.id_for_label }}">{{ terapeuta_form.first_name.label }}</label>
                {{ terapeuta_form.first_name }}
                <div class="error">{{ terapeuta_form.first_name.errors }}</div>
            </div>
    
            <!-- Campo Apellido -->
            <div class="form-group">
                <label for="{{ terapeuta_form.last_name.id_for_label }}">{{ terapeuta_form.last_name.label }}</label>
                {{ terapeuta_form.last_name }}
                <div class="error">{{ terapeuta_form.last_name.errors }}</div>
            </div>
    
            <!-- Campo Email -->
            <div class="form-group">
                <label for="{{ terapeuta_form.email.id_for_label }}">{{ terapeuta_form.email.label }}</label>
                {{ terapeuta_form.email }}
                <div class="error">{{ terapeuta_form.email.errors }}</div>
            </div>
    
            <!-- Campo Teléfono -->
            <div class="form-group">
                <label for="{{ terapeuta_form.telefono.id_for_label }}">{{ terapeuta_form.telefono.label }}</label>
                {{ terapeuta_form.telefono }}
                <div class="error">{{ terapeuta_form.telefono.errors }}</div>
            </div>
    
            <!-- Campo Fecha de Nacimiento -->
            <div class="form-group">
                <label for="{{ terapeuta_form.fecha_nacimiento.id_for_label }}">{{ terapeuta_form.fecha_nacimiento.label }}</label>
                {{ terapeuta_form.fecha_nacimiento }}
                <div class="error">{{ terapeuta_form.fecha_nacimiento.errors }}</div>
            </div>
    
            <!-- Campo Dirección -->
            <div class="form-group">
                <label for="{{ terapeuta_form.direccion.id_for_label }}">{{ terapeuta_form.direccion.label }}</label>
                {{ terapeuta_form.direccion }}
                <div class="error">{{ terapeuta_form.direccion.errors }}</div>
            </div>
    
            <!-- Campo Región -->
            <div class="form-group">
                <label for="{{ terapeuta_form.region.id_for_label }}">{{ terapeuta_form.region.label }}</label>
                {{ terapeuta_form.region }}
                <div class="error">{{ terapeuta_form.region.errors }}</div>
            </div>

            <!-- Campo Comuna -->
            <div class="form-group">
                <label for="{{ terapeuta_form.comuna.id_for_label }}">{{ terapeuta_form.comuna.label }}</label>
                {{ terapeuta_form.comuna }}
                <div class="error">{{ terapeuta_form.comuna.errors }}</div>
            </div>
    
        </div>
    
        {% comment %} DATOS DEL TERAPEUTA COLUMNA DERECHA {% endcomment %}
    
        <div class="datos-columna-derecha">
    
            <!-- Campo Sexo -->
            <div class="form-group">
                <label for="{{ terapeuta_form.sexo.id_for_label }}">{{ terapeuta_form.sexo.label }}</label>
                {{ terapeuta_form.sexo }}
                <div class="error">{{ terapeuta_form.sexo.errors }}</div>
            </div>
    
            <!-- Campo Especialidad -->
            <div class="form-group">
                <label for="{{ terapeuta_form.especialidad.id_for_label }}">{{ terapeuta_form.especialidad.label }}</label>
                {{ terapeuta_form.especialidad }}
                <div class="error">{{ terapeuta_form.especialidad.errors }}</div>
            </div>
    
            <!-- Campo Fecha de Contratación -->
            <div class="form-group">
                <label for="{{ terapeuta_form.fecha_contratacion.id_for_label }}">{{ terapeuta_form.fecha_contratacion.label }}</label>
                {{ terapeuta_form.fecha_contratacion }}
                <div class="error">{{ terapeuta_form.fecha_contratacion.errors }}</div>
            </div>
    
            <!-- Campo Título -->
            <div class="form-group">
                <label for="{{ terapeuta_form.titulo.id_for_label }}">{{ terapeuta_form.titulo.label }}</label>
                {{ terapeuta_form.titulo }}
                <div class="error">{{ terapeuta_form.titulo.errors }}</div>
            </div>
    
            <!-- Campo Experiencia -->
            <div class="form-group">
                <label for="{{ terapeuta_form.experiencia.id_for_label }}">{{ terapeuta_form.experiencia.label }}</label>
                {{ terapeuta_form.experiencia }}
                <div class="error">{{ terapeuta_form.experiencia.errors }}</div>
            </div>
    
            <!-- Campo Presentación -->
            <div class="form-group">
                <label for="{{ terapeuta_form.presentacion.id_for_label }}">{{ terapeuta_form.presentacion.label }}</label>
                {{ terapeuta_form.presentacion }}
                <div class="error">{{ terapeuta_form.presentacion.errors }}</div>
            </div>
    
            <!-- Campo Correo de Contacto -->
            <div class="form-group">
                <label for="{{ terapeuta_form.correo_contacto.id_for_label }}">{{ terapeuta_form.correo_contacto.label }}</label>
                {{ terapeuta_form.correo_contacto }}
                <div class="error">{{ terapeuta_form.correo_contacto.errors }}</div>
            </div>
    
        </div>
    </div>

    <h2> Horarios del terapeuta </h2>
    
    <div class="datos-inferiores">
        <table class="table">
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Fin</th>
                    <th class="columna-eliminar">Eliminar</th>
                </tr>
            </thead>
            <tbody id="horarios-tbody">
                {{ horario_formset.management_form }}
                {% for form in horario_formset %}
                    <tr>
                        <!-- Campo Día -->
                        <td>{{ form.dia }}</td>
                        <!-- Campo Hora de Inicio -->
                        <td>{{ form.hora_inicio }}</td>
                        <!-- Campo Hora de Fin -->
                        <td>{{ form.hora_final }}</td>
                        <!-- Campo para eliminar -->
                        <td>
                            {{ form.DELETE }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="boton-azul" id="agregar-horario">Añadir Horario +</button>
    
        {% if horario_formset.non_field_errors %}
            <div class="error">
                {{ horario_formset.non_field_errors }}
            </div>
        {% endif %}
    </div>    
    
    <div class="contenedor-botones">
        <button class="boton-cancelar" id="boton-cancelar">Cancelar</button>
        <button class="boton-azul" type="submit">Agregar terapeuta</button>
    </div>
    
</form>

<script>
    
</script>

<!-- Script para añadir un nuevo formulario de horario -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addScheduleButton = document.getElementById('agregar-horario');
        const horariosTbody = document.getElementById('horarios-tbody');
        const totalFormsInput = document.getElementById('id_horario_set-TOTAL_FORMS');
        let scheduleIndex = parseInt(totalFormsInput.value); // Establecer el índice inicial
    
        addScheduleButton.addEventListener('click', function () {
            // Crear una nueva fila para el nuevo horario
            const newRow = document.createElement('tr');
            newRow.className = 'horario-row';
    
            // Crear los elementos de formulario
            const diaSelect = document.createElement('select');
            diaSelect.name = `horario_set-${scheduleIndex}-dia`;
            diaSelect.className = 'seleccion';
            diaSelect.id = `id_horario_set-${scheduleIndex}-dia`;
    
            // Agregar las opciones al select
            const days = ['---------', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'];
            days.forEach(day => {
                const option = document.createElement('option');
                option.value = day;
                option.textContent = day;
                diaSelect.appendChild(option);
            });
    
            const horaInicioInput = document.createElement('input');
            horaInicioInput.type = 'time';
            horaInicioInput.name = `horario_set-${scheduleIndex}-hora_inicio`;
            horaInicioInput.className = 'campo-formulario';
            horaInicioInput.id = `id_horario_set-${scheduleIndex}-hora_inicio`;
    
            const horaFinInput = document.createElement('input');
            horaFinInput.type = 'time';
            horaFinInput.name = `horario_set-${scheduleIndex}-hora_final`;
            horaFinInput.className = 'campo-formulario';
            horaFinInput.id = `id_horario_set-${scheduleIndex}-hora_final`;
    
            // Crear campo para eliminar
            const deleteInput = document.createElement('input');
            deleteInput.type = 'checkbox';
            deleteInput.name = `horario_set-${scheduleIndex}-DELETE`;
            deleteInput.id = `id_horario_set-${scheduleIndex}-DELETE`;

            // Agregar los campos a la nueva fila
            newRow.appendChild(tdElement(diaSelect));
            newRow.appendChild(tdElement(horaInicioInput));
            newRow.appendChild(tdElement(horaFinInput));
            newRow.appendChild(tdElement(deleteInput));
    
            // Agregar la nueva fila al tbody
            horariosTbody.appendChild(newRow);
    
            // Incrementar el índice para el siguiente formulario
            totalFormsInput.value = scheduleIndex + 1;
            scheduleIndex++;
        });
    
        function tdElement(...children) {
            const td = document.createElement('td');
            children.forEach(child => td.appendChild(child));
            return td;
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var regionField = document.getElementById("id_region");
        var comunaField = document.getElementById("id_comuna");

        regionField.addEventListener("change", function() {
            var regionId = this.value;
            comunaField.innerHTML = ""; // Limpiar opciones anteriores

            if (regionId) {
                fetch(`/api/comunas/?region=${regionId}`)
                .then(response => response.json())
                .then(data => {
                    // Actualizar opciones del campo de selección de comuna
                    data.forEach(comuna => {
                        var option = document.createElement("option");
                        option.value = comuna.id;
                        option.textContent = comuna.nombre;
                        comunaField.appendChild(option);
                    });
                });
            }
        });
    });
</script>
<script>
    document.getElementById("boton-cancelar").addEventListener("click", function(){
        window.location.href = "{% url 'listar_terapeutas_activos' %}";
    });
</script>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/formatear-rut.js' %}"></script>
<script src="{% static 'js/formatear-telefono.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
