{% extends 'administrador_base.html' %}

{% load static %}

{% block title %}Gestión de recepcionistas{% endblock %}

{% block extra_head%}
<link rel="stylesheet" href="{% static 'styles/agregar_recepcionista.css' %}">
<link rel="stylesheet" href="{% static 'styles/formularios.css' %}">
<link rel="stylesheet" href="{% static 'styles/modal.css' %}">
{% endblock %}

{% block header %}
<div class="contenedor-header">
    <a href="{% url 'listar_recepcionistas_activos' %}">
        <img src="{% static 'icons/Volver-atras.svg' %}" alt="">
    </a>
    <h1>Agregar Recepcionista</h1>
</div>
{% endblock %}

{% block content %}
<!-- Contenedor para el mensaje de éxito -->
<div id="mensaje-exito" class="modal">
    <div class="contenido-modal-exito">
        <img src="{% static 'icons/Exito.svg' %}" alt="Éxito">
        <p>¡Recepcionista agregado con éxito!</p>
        <button class="boton-continuar" onclick="cerrarModal()">Continuar</button>
    </div>
</div>

<!-- Formulario para agregar un recepcionista -->
<form action="{% url 'agregar_recepcionista' %}" method="POST" onsubmit="return mostrarMensajeExito()">
    {% csrf_token %}
    <h2> Datos del recepcionista </h2>

    <!-- DATOS DEL RECEPCIONISTA -->
    <div class="divisor-formulario">
        <div class="datos-columna-izquierda">

            <!-- Campo RUT -->
            <div class="form-group">
                <label for="{{ recepcionista_form.rut.id_for_label }}">{{ recepcionista_form.rut.label }}</label>
                {{ recepcionista_form.rut }}
                <div class="error">{{ recepcionista_form.rut.errors }}</div>
            </div>

            <!-- Campo Nombre -->
            <div class="form-group">
                <label for="{{ recepcionista_form.first_name.id_for_label }}">{{ recepcionista_form.first_name.label }}</label>
                {{ recepcionista_form.first_name }}
                <div class="error">{{ recepcionista_form.first_name.errors }}</div>
            </div>

            <!-- Campo Apellido -->
            <div class="form-group">
                <label for="{{ recepcionista_form.last_name.id_for_label }}">{{ recepcionista_form.last_name.label }}</label>
                {{ recepcionista_form.last_name }}
                <div class="error">{{ recepcionista_form.last_name.errors }}</div>
            </div>

            <!-- Campo Email -->
            <div class="form-group">
                <label for="{{ recepcionista_form.email.id_for_label }}">{{ recepcionista_form.email.label }}</label>
                {{ recepcionista_form.email }}
                <div class="error">{{ recepcionista_form.email.errors }}</div>
            </div>

            <!-- Campo Teléfono -->
            <div class="form-group">
                <label for="{{ recepcionista_form.telefono.id_for_label }}">{{ recepcionista_form.telefono.label }}</label>
                {{ recepcionista_form.telefono }}
                <div class="error">{{ recepcionista_form.telefono.errors }}</div>
            </div>

        </div>

        <div class="datos-columna-derecha">

            <!-- Campo Fecha de Nacimiento -->
            <div class="form-group">
                <label for="{{ recepcionista_form.fecha_nacimiento.id_for_label }}">{{ recepcionista_form.fecha_nacimiento.label }}</label>
                {{ recepcionista_form.fecha_nacimiento }}
                <div class="error">{{ recepcionista_form.fecha_nacimiento.errors }}</div>
            </div>

            <!-- Campo Sexo -->
            <div class="form-group">
                <label for="{{ recepcionista_form.sexo.id_for_label }}">{{ recepcionista_form.sexo.label }}</label>
                {{ recepcionista_form.sexo }}
                <div class="error">{{ recepcionista_form.sexo.errors }}</div>
            </div>

            <!-- Campo Dirección -->
            <div class="form-group">
                <label for="{{ recepcionista_form.direccion.id_for_label }}">{{ recepcionista_form.direccion.label }}</label>
                {{ recepcionista_form.direccion }}
                <div class="error">{{ recepcionista_form.direccion.errors }}</div>
            </div>

            <!-- Campo Región -->
            <div class="form-group">
                <label for="{{ recepcionista_form.region.id_for_label }}">{{ recepcionista_form.region.label }}</label>
                {{ recepcionista_form.region }}
                <div class="error">{{ recepcionista_form.region.errors }}</div>
            </div>

            <!-- Campo Comuna -->
            <div class="form-group">
                <label for="{{ recepcionista_form.comuna.id_for_label }}">{{ recepcionista_form.comuna.label }}</label>
                {{ recepcionista_form.comuna }}
                <div class="error">{{ recepcionista_form.comuna.errors }}</div>
            </div>

        </div>
    </div>

    <div class="contenedor-botones">
        <button class="boton-cancelar" id="boton-cancelar" type="button">Cancelar</button>
        <button class="boton-azul" type="submit">Agregar recepcionista</button>
    </div>

</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Mostrar el modal si 'success' es verdadero
        {% if success %}
            var mensajeExito = document.getElementById("mensaje-exito");
            mensajeExito.style.display = "block"; // Mostrar el modal
        {% endif %}
    });

    // Función para cerrar el modal
    function cerrarModal() {
        var mensajeExito = document.getElementById("mensaje-exito");
        mensajeExito.style.display = "none"; // Ocultar el modal
    }

    // Redirigir al hacer clic en cancelar
    document.getElementById("boton-cancelar").addEventListener("click", function(){
        window.location.href = "{% url 'listar_recepcionistas_activos' %}";
    });

    // Cargar comunas basadas en la región seleccionada
    document.addEventListener("DOMContentLoaded", function() {
        var regionField = document.getElementById("id_region");
        var comunaField = document.getElementById("id_comuna");

        regionField.addEventListener("change", function() {
            var regionId = this.value;
            comunaField.innerHTML = ""; // Limpiar opciones anteriores

            if (regionId) {
                fetch(`/api/comunas/?region=${regionId}`)
                .then(response => response.json())
                .then(data => {
                    // Actualizar opciones del campo de selección de comuna
                    data.forEach(comuna => {
                        var option = document.createElement("option");
                        option.value = comuna.id;
                        option.textContent = comuna.nombre;
                        comunaField.appendChild(option);
                    });
                });
            }
        });
    });
</script>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/formatear-rut.js' %}"></script>
<script src="{% static 'js/formatear-telefono.js' %}"></script>
{% endblock %}